// Colors
$primary-color: #fb056f;
$secondary-color: #9575ec;

$blue: #1340A4;
$yellow: #FDC84A;
$red: #f15a3b;
$green: #5e8c0c;
$gray:#6e7e85;

// Typography
@import url('https://fonts.googleapis.com/css?family=Cabin:700|Roboto:400,400i,700,700i');
$body-font: 'Roboto', Geneva, sans-serif;
$header-font: 'Cabin', Geneva, sans-serif;

$font-color: #31242b;
$subfont-color: rgba($font-color,.6);

$link-color:$primary-color;
$link-hover:darken($primary-color, 20%);;

// Transitions
$fast-speed:all 0.18s cubic-bezier(0.4, 0, 0.2, 1);
$normal-speed:all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
$slow-speed:all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
$slowest-speed:all 0.75s cubic-bezier(0.4, 0, 0.2, 1);

// Shadows
$base-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 2px 8px rgba(0, 0, 0, 0.14);
$hover-shadow: 0 6px 16px rgba(0, 0, 0, 0.25), 0 4px 20px rgba(0, 0, 0, 0.18);
$selected-shadow: 0 12px 16px rgba(0, 0, 0, 0.25), 0 18px 40px rgba(0, 0, 0, 0.19);
$solid-shadow: 3px 3px 0px rgba(0,0,0,0.2);

// Metrics
$site-width:960px;
$small-site-width:760px;

$cell-margin:.5rem;
$cell-padding:.5rem;

// Media Break Adjustments
$small-break:  480px;
$medium-break: 768px;
$large-break:  1024px;
$xlarge-break: 1200px;

$small-radius: 2px;
$radius: 4px;
$large-radius: 6px;
