// Colors
$primary-color: #58367A;
$secondary-color: #eb0066;

$blue: #1340A4;
$yellow: #FDC84A;
$red: #f15a3b;
$green: #5e8c0c;
$gray: #6e7e85;

$white: #FBFBFB;
$black: #31242b;

// Typography
@import url('https://fonts.googleapis.com/css?family=Cabin:700|Roboto:400,400i,700,700i');
$body-font: 'Roboto', Geneva, sans-serif;
$header-font: 'Cabin', Geneva, sans-serif;

$text-color: $black;
$subfont-color: rgba($text-color, .6);

$link-color: $primary-color;
$link-hover: darken($primary-color, 20%);

// Transitions
$fast-speed: all 0.18s cubic-bezier(0.4, 0, 0.2, 1);
$normal-speed: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
$slow-speed: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
$slowest-speed: all 0.75s cubic-bezier(0.4, 0, 0.2, 1);

// Shadows
$base-shadow: 0 5px 25px rgba(0, 0, 0, 0.2), 0 2px 8px rgba(0, 0, 0, 0.14);
$hover-shadow: 0 12px 35px 1px rgba(0, 0, 0, 0.2), 0 2px 8px rgba(0, 0, 0, 0.14);
$selected-shadow: 0 12px 46px rgba(0, 0, 0, 0.25), 0 18px 40px rgba(0, 0, 0, 0.19);
$solid-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);

//Rounded radius corners
$small-radius: 2px;
$radius: 4px;
$large-radius: 6px;

// Grid
$site-width: 1024px;
$padding: 2em;
$wides: one two three four five six seven eight nine ten eleven twelve;
$grid-total-columns: length($wides);
$min-tablet-width:   48em;
$min-desktop-width:  75em;
$one-wide:           100% / $grid-total-columns;