// Colors
$primary-color: #7c3eb9;
$secondary-color: #eb0066;
$blue: #1340A4;
$yellow: #FDC84A;
$red: #f15a3b;
$green: #5e8c0c;
$grey: #9ea8a9;
$white: #FBFBFB;
$black: #31242b;
$facebook: #3b5998;
$twitter: #00aced;
$instagram: #517fa4;
$default-color: $primary-color;

$swatch: ('primary', $primary-color),
        ('secondary', $secondary-color),
        ('blue', $blue),
        ('yellow', $yellow),
        ('red', $red),
        ('green', $green),
        ('grey', $grey),
        ('white', $white),
        ('black', $black),
        ('facebook', $facebook),
        ('twitter', $twitter),
        ('instagram', $instagram);

// Typo
@import url('https://fonts.googleapis.com/css?family=Cabin:700|Roboto:400,400i,700,700i');
$body-font: 'Roboto', Geneva, sans-serif;
$header-font: 'Cabin', Geneva, sans-serif;

$text-color: $black;
$subfont-color: rgba($text-color, .6);

$link-color: $primary-color;
$link-hover: darken($primary-color, 20%);

$base-font-size: 1rem;

// Transitions
$fast-speed: all 0.18s cubic-bezier(0.4, 0, 0.2, 1);
$normal-speed: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
$slow-speed: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
$slowest-speed: all 0.75s cubic-bezier(0.4, 0, 0.2, 1);

// Shadows
$base-shadow: 0 5px 25px rgba(0, 0, 0, 0.2), 0 2px 8px rgba(0, 0, 0, 0.14);
$hover-shadow: 0 12px 35px 0px rgba(0, 0, 0, 0.31), 0 2px 4px 0px rgba(0, 0, 0, 0.14);
$selected-shadow: 0 12px 46px rgba(0, 0, 0, 0.25), 0 18px 40px rgba(0, 0, 0, 0.19);
$solid-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);

//Rounded radius corners
$small-radius: 2px;
$radius: 4px;
$large-radius: 6px;
$rounded: 99rem;

// Borders
$border-color: rgba(0, 0, 0, .2);
$form-elements-border: 1px solid $border-color;
$flat-border: 0 0 0 1px rgba(0, 0, 0, 0.13);

// Grid
$padding: 2em;
$reflex-grid-spacing: 1rem !default;

// Breakpoints
$reflex-xs: 576px !default;
$reflex-sm: 768px !default;
$reflex-md: 992px !default;
$reflex-lg: 1200px !default;
$reflex-xlg: $reflex-lg !default;