@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Cabin:700|Roboto:400,400i,700,700i");
h1, h2, h3, h4, h5, p, blockquote, figure, ol, ul {
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
}

main {
  display: block;
}

::-moz-selection {
  background-color: #7c3eb9;
  color: #fff;
}

::selection {
  background-color: #7c3eb9;
  color: #fff;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

:focus {
  outline: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

body {
  margin: 0;
  line-height: 1.4;
  font-family: "Roboto", Geneva, sans-serif;
  color: #31242b;
}

hr {
  height: 2px;
  margin: 1rem auto;
  border: 0;
  background: rgba(0, 0, 0, 0.3);
}

.floated.left {
  float: left;
}

.floated.right {
  float: right;
}

.hide, .xlarge-hide {
  display: none !important;
}

.small-show, .medium-show, .large-show, xlarge-show {
  display: none;
}

.clearing {
  zoom: 1;
}
.clearing:before, .clearing:after {
  content: "";
  display: table;
}
.clearing:after {
  clear: both;
}

a {
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  color: #7c3eb9;
  cursor: pointer;
  -webkit-text-decoration-skip: objects;
}
a:active, a:hover {
  color: #49246d;
}
a img {
  border: 0;
}

p {
  margin-bottom: 1.1rem;
  text-rendering: optimizeLegibility;
}
p:last-child {
  margin-bottom: 0;
}

.aligned.left {
  text-align: left;
}
.aligned.right {
  text-align: right;
}
.aligned.center {
  text-align: center;
}

em, i, .em {
  font-style: italic;
  line-height: inherit;
}

.uppercase {
  text-transform: uppercase;
}

strong, b, .strong {
  font-weight: bold;
  line-height: inherit;
}

small, .small {
  font-size: 80%;
}

.large {
  font-size: 140%;
}

sup, .sup, sub, .sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup, .sup {
  top: -0.5em;
}

sub, .sub {
  bottom: -0.5em;
}

.ellipsis, .ellipsis li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-clip, .text-clip li {
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

.img, img {
  max-width: 100%;
  height: auto;
  border: 0;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

.video.container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video.container iframe, .video.container object, .video.container embed, .video.container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text.primary {
  color: #7c3eb9;
}
.text.secondary {
  color: #eb0066;
}
.text.blue {
  color: #1340A4;
}
.text.yellow {
  color: #FDC84A;
}
.text.red {
  color: #f15a3b;
}
.text.green {
  color: #5e8c0c;
}
.text.gray {
  color: #6e7e85;
}
.text.white {
  color: #FBFBFB;
}

.hint {
  color: rgba(49, 36, 43, 0.7);
  margin: 0.5rem 0 0;
  font-size: 0.8rem;
  line-height: 1.4;
  font-style: italic;
}

.button, input[type=submit], button {
  display: inline-block;
  position: relative;
  z-index: 2;
  vertical-align: middle;
  overflow: visible;
  border: solid 2px #7c3eb9;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  transition: all 0.18s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #7c3eb9;
  color: #FBFBFB;
  border-radius: 4px;
  padding: 0.6rem 1.5rem;
  margin: 0 0.5rem 0 0;
  text-align: center;
  font-size: 1rem;
  line-height: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.button:last-child, input[type=submit]:last-child, button:last-child {
  margin: 0;
}
.button:hover, input[type=submit]:hover, button:hover {
  background-color: #623193;
  border-color: #623193;
  color: #FBFBFB;
  transform: scale(1.05);
}
.button:active, .button:focus, .button:visited, input[type=submit]:active, input[type=submit]:focus, input[type=submit]:visited, button:active, button:focus, button:visited {
  color: #FBFBFB;
  transform: scale(1);
}
.button.ghost, input[type=submit].ghost, button.ghost {
  background: transparent;
  color: #7c3eb9;
}
.button.ghost:hover, input[type=submit].ghost:hover, button.ghost:hover {
  background: #7c3eb9;
  color: #FFFFFF;
}
.button.active, input[type=submit].active, button.active {
  background-color: #623193;
  border-color: #623193;
  color: #FBFBFB;
  box-shadow: 0 0 0px 2px rgba(255, 255, 255, 0.48) inset;
}
.button.full-width, input[type=submit].full-width, button.full-width {
  width: 100%;
}
.button.blue, input[type=submit].blue, button.blue {
  background-color: #1340A4;
  border-color: #1340A4;
}
.button.blue.ghost, input[type=submit].blue.ghost, button.blue.ghost {
  background: transparent;
  color: #1340A4;
}
.button.blue.ghost:hover, input[type=submit].blue.ghost:hover, button.blue.ghost:hover {
  background: #1340A4;
  color: #FFFFFF;
}
.button.blue:hover, input[type=submit].blue:hover, button.blue:hover {
  background-color: #0e2e76;
  border-color: #0e2e76;
}
.button.green, input[type=submit].green, button.green {
  background-color: #5e8c0c;
  border-color: #5e8c0c;
}
.button.green.ghost, input[type=submit].green.ghost, button.green.ghost {
  background: transparent;
  color: #5e8c0c;
}
.button.green.ghost:hover, input[type=submit].green.ghost:hover, button.green.ghost:hover {
  background: #5e8c0c;
  color: #FFFFFF;
}
.button.green:hover, input[type=submit].green:hover, button.green:hover {
  background-color: #3e5d08;
  border-color: #3e5d08;
}
.button.red, input[type=submit].red, button.red {
  background-color: #f15a3b;
  border-color: #f15a3b;
}
.button.red.ghost, input[type=submit].red.ghost, button.red.ghost {
  background: transparent;
  color: #f15a3b;
}
.button.red.ghost:hover, input[type=submit].red.ghost:hover, button.red.ghost:hover {
  background: #f15a3b;
  color: #FFFFFF;
}
.button.red:hover, input[type=submit].red:hover, button.red:hover {
  background-color: #e83511;
  border-color: #e83511;
}
.button.yellow, input[type=submit].yellow, button.yellow {
  background-color: #FDC84A;
  border-color: #FDC84A;
}
.button.yellow.ghost, input[type=submit].yellow.ghost, button.yellow.ghost {
  background: transparent;
  color: #FDC84A;
}
.button.yellow.ghost:hover, input[type=submit].yellow.ghost:hover, button.yellow.ghost:hover {
  background: #FDC84A;
  color: #FFFFFF;
}
.button.yellow:hover, input[type=submit].yellow:hover, button.yellow:hover {
  background-color: #fdb64a;
  border-color: #fdb64a;
}
.button.disabled, input[type=submit].disabled, button.disabled {
  background-color: rgba(49, 36, 43, 0.2);
  border-color: transparent;
  color: rgba(49, 36, 43, 0.5);
  cursor: not-allowed;
}
.button.disabled:hover, input[type=submit].disabled:hover, button.disabled:hover {
  background-color: rgba(49, 36, 43, 0.2);
  border-color: transparent;
}
.button.raised, input[type=submit].raised, button.raised {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2), 0 2px 8px rgba(0, 0, 0, 0.14);
  border-color: transparent;
}
.button.raised:hover, input[type=submit].raised:hover, button.raised:hover {
  box-shadow: 0 12px 35px 0px rgba(0, 0, 0, 0.31), 0 2px 4px 0px rgba(0, 0, 0, 0.14);
  border-color: transparent;
}
.button.raised:active, input[type=submit].raised:active, button.raised:active {
  border-color: transparent;
  box-shadow: 0 12px 46px rgba(0, 0, 0, 0.25), 0 18px 40px rgba(0, 0, 0, 0.19);
}
.button.flat, input[type=submit].flat, button.flat {
  background-color: transparent;
  border-color: transparent;
  color: rgba(49, 36, 43, 0.75);
}
.button.flat:hover, input[type=submit].flat:hover, button.flat:hover {
  color: #31242b;
  background-color: rgba(49, 36, 43, 0.1);
}
.button.flat:active, input[type=submit].flat:active, button.flat:active {
  background-color: rgba(49, 36, 43, 0.2);
}
.button.round, input[type=submit].round, button.round {
  border-radius: 99rem;
}
.button.small, input[type=submit].small, button.small {
  font-size: 0.675em;
  padding: 0.5em 1.4em;
}
.button.big, input[type=submit].big, button.big {
  font-size: 1.5em;
  padding: 0.7em 1.9em;
}
.button.huge, input[type=submit].huge, button.huge {
  font-size: 2em;
  padding: 0.7em 1.9em;
}

.card {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2), 0 2px 8px rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #FBFBFB;
  color: #31242b;
  overflow: hidden;
  margin-bottom: 1rem;
}
.card:last-child {
  margin-bottom: 0;
}
.card .content {
  padding: 1em;
}
.card .title {
  display: block;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.card p {
  margin: 0;
  font-size: 0.875rem;
}
.card .image img {
  display: block;
  object-fit: cover;
}
.card .actions {
  padding: 0.6666666667em 1em;
  border-top: solid 1px rgba(49, 36, 43, 0.15);
}
.card .actions.right {
  text-align: right;
}
.card:hover {
  box-shadow: 0 12px 35px 0px rgba(0, 0, 0, 0.31), 0 2px 4px 0px rgba(0, 0, 0, 0.14);
}
.card.padded .content {
  padding: 2em;
}
.card.padded .actions {
  padding: 1em 2em;
}

input[type=text],
input[type=url],
input[type=email],
input[type=password],
input[type=number],
input[type=tel] {
  box-sizing: border-box;
  width: 100%;
  padding: 0.6666666667em;
  margin-bottom: 2em;
  font-family: inherit;
  font-size: 1em;
  vertical-align: middle;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  outline: none;
  background-color: white;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
input[type=text]::placeholder,
input[type=url]::placeholder,
input[type=email]::placeholder,
input[type=password]::placeholder,
input[type=number]::placeholder,
input[type=tel]::placeholder {
  color: rgba(49, 36, 43, 0.4);
}
input[type=text]:last-child,
input[type=url]:last-child,
input[type=email]:last-child,
input[type=password]:last-child,
input[type=number]:last-child,
input[type=tel]:last-child {
  margin-bottom: 0;
}
input[type=text]:focus,
input[type=url]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=tel]:focus {
  border-color: #7c3eb9;
  box-shadow: 0 0 0 5px rgba(124, 62, 185, 0.2);
}
input[type=text]:focus::placeholder,
input[type=url]:focus::placeholder,
input[type=email]:focus::placeholder,
input[type=password]:focus::placeholder,
input[type=number]:focus::placeholder,
input[type=tel]:focus::placeholder {
  color: rgba(49, 36, 43, 0.2);
}
input[type=text]:disabled,
input[type=url]:disabled,
input[type=email]:disabled,
input[type=password]:disabled,
input[type=number]:disabled,
input[type=tel]:disabled {
  background-color: #6e7e85;
  cursor: not-allowed;
}
input[type=text].huge,
input[type=url].huge,
input[type=email].huge,
input[type=password].huge,
input[type=number].huge,
input[type=tel].huge {
  font-size: 1.7em;
}

.field label {
  margin-bottom: 0.4rem;
  display: inline-block;
}
.field input[type=text],
.field input[type=url],
.field input[type=email],
.field input[type=password],
.field input[type=number],
.field input[type=tel] {
  margin: 0;
}
.field.inline.action {
  display: inline-flex;
}
.field.inline.action input[type=text],
.field.inline.action input[type=url],
.field.inline.action input[type=email],
.field.inline.action input[type=password],
.field.inline.action input[type=number],
.field.inline.action input[type=tel] {
  max-width: 100%;
  border-radius: 4px 0 0 4px;
}
.field.inline.action input[type=text]:focus + .button,
.field.inline.action input[type=url]:focus + .button,
.field.inline.action input[type=email]:focus + .button,
.field.inline.action input[type=password]:focus + .button,
.field.inline.action input[type=number]:focus + .button,
.field.inline.action input[type=tel]:focus + .button {
  box-shadow: 0 0 0 5px rgba(124, 62, 185, 0.2);
  margin-left: 10px;
}
.field.inline.action .button {
  border-radius: 0 4px 4px 0;
}
.field.inline.action .button:hover {
  transform: none;
}
.field.inline.action.fluid {
  width: 100%;
}

input[type=radio] {
  display: none;
}
input[type=radio]:checked + label:after {
  opacity: 1;
}
input[type=radio]:checked + label:before {
  background: #7c3eb9;
}
input[type=radio]:active + label:before {
  background: #e2e2e2;
}
input[type=radio] + label {
  cursor: pointer;
  user-select: none;
  position: relative;
  padding-left: 1.3em;
  vertical-align: middle;
  display: block;
}
input[type=radio] + label:after {
  transform: scale(0.5);
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  top: 0.15em;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #FBFBFB;
  transition: opacity ease-in 0.2s;
}
input[type=radio] + label:before {
  content: "";
  display: block;
  position: absolute;
  top: 0.15em;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 99rem;
  background: #FBFBFB;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.18s cubic-bezier(0.4, 0, 0.2, 1);
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked + label:after {
  width: 0.5em;
  height: 1em;
  left: 0.25em;
  top: 0.05em;
  border: solid #FBFBFB;
  border-width: 0 0.2em 0.2em 0;
  transform: rotate(45deg) scale(0.7);
  border-radius: 0;
}
input[type=checkbox]:checked + label:before {
  background: #7c3eb9;
}
input[type=checkbox]:active + label:before {
  background: #e2e2e2;
}
input[type=checkbox]:active + label:after {
  border-color: #6e7e85;
}
input[type=checkbox] + label {
  cursor: pointer;
  user-select: none;
  display: block;
  position: relative;
  padding-left: 1.3em;
  vertical-align: middle;
}
input[type=checkbox] + label:after {
  transform: scale(0);
  content: "";
  display: block;
  position: absolute;
  transition: all 0.18s cubic-bezier(0.4, 0, 0.2, 1);
}
input[type=checkbox] + label:before {
  content: "";
  display: block;
  position: absolute;
  top: 0.1em;
  left: 0;
  width: 1em;
  height: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #FBFBFB;
  transition: all 0.18s cubic-bezier(0.4, 0, 0.2, 1);
}

.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.dropdown select {
  background-color: #FBFBFB;
  color: #31242b;
  font-size: inherit;
  padding: 0.7em 0.9em;
  padding-right: 2.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0;
  border-radius: 4px;
  text-indent: 0.01px;
  text-overflow: "";
  -webkit-appearance: button;
  /* hide default arrow in chrome OSX */
}
.dropdown:before, .dropdown:after {
  content: "";
  position: absolute;
  pointer-events: none;
}
.dropdown:after {
  content: "▼";
  height: 1em;
  font-size: 0.625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -0.5em;
  color: rgba(0, 0, 0, 0.4);
}
.dropdown:before {
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 4px 4px 0;
  background-color: rgba(0, 0, 0, 0.15);
}
.dropdown select[disabled] {
  color: rgba(0, 0, 0, 0.3);
}
.dropdown select[disabled]:after {
  color: rgba(0, 0, 0, 0.1);
}

.field.required > label:first-child:after {
  content: "*";
  color: #f15a3b;
  margin-left: 3px;
}
.field.error input {
  border-color: #f15a3b;
}
.field.error label {
  color: #f15a3b;
}
.field.error .explanation {
  color: #f15a3b;
  font-weight: 600;
  margin-top: 0.5rem;
}
.field.error .explanation:before {
  content: "!";
  margin-right: 0.4rem;
  background: #f15a3b;
  padding: 0.1rem 0.7em;
  font-size: 0.8em;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  vertical-align: text-bottom;
}

.footer {
  min-height: 150px;
}

.container,
.container-full {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}
.container .grid,
.container-full .grid {
  margin-right: -1rem;
  margin-left: -1rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.grid {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  position: relative;
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  word-spacing: -0.43em;
  list-style-type: none;
}
.grid::before, .grid::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
}

[class*=col-] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  position: relative;
  width: 100%;
  vertical-align: top;
  padding: 1rem;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
[class*=col-]::before, [class*=col-]::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
}
[class*=col-] .grid {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: -1rem;
}

.col-12 {
  width: 100%;
  *width: 99.9%;
}

.col-11 {
  width: 91.6666666667%;
  *width: 91.5666666667%;
}

.col-10 {
  width: 83.3333333333%;
  *width: 83.2333333333%;
}

.col-9 {
  width: 75%;
  *width: 74.9%;
}

.col-8 {
  width: 66.6666666667%;
  *width: 66.5666666667%;
}

.col-7 {
  width: 58.3333333333%;
  *width: 58.2333333333%;
}

.col-6 {
  width: 50%;
  *width: 49.9%;
}

.col-5 {
  width: 41.6666666667%;
  *width: 41.5666666667%;
}

.col-4 {
  width: 33.3333333333%;
  *width: 33.2333333333%;
}

.col-3 {
  width: 25%;
  *width: 24.9%;
}

.col-2 {
  width: 16.6666666667%;
  *width: 16.5666666667%;
}

.col-1 {
  width: 8.3333333333%;
  *width: 8.2333333333%;
}

@media (min-width: 576px) {
  .col-xs-12 {
    width: 100%;
    *width: 99.9%;
  }

  .col-xs-11 {
    width: 91.6666666667%;
    *width: 91.5666666667%;
  }

  .col-xs-10 {
    width: 83.3333333333%;
    *width: 83.2333333333%;
  }

  .col-xs-9 {
    width: 75%;
    *width: 74.9%;
  }

  .col-xs-8 {
    width: 66.6666666667%;
    *width: 66.5666666667%;
  }

  .col-xs-7 {
    width: 58.3333333333%;
    *width: 58.2333333333%;
  }

  .col-xs-6 {
    width: 50%;
    *width: 49.9%;
  }

  .col-xs-5 {
    width: 41.6666666667%;
    *width: 41.5666666667%;
  }

  .col-xs-4 {
    width: 33.3333333333%;
    *width: 33.2333333333%;
  }

  .col-xs-3 {
    width: 25%;
    *width: 24.9%;
  }

  .col-xs-2 {
    width: 16.6666666667%;
    *width: 16.5666666667%;
  }

  .col-xs-1 {
    width: 8.3333333333%;
    *width: 8.2333333333%;
  }
}
@media (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
    *width: 99.9%;
  }

  .col-sm-11 {
    width: 91.6666666667%;
    *width: 91.5666666667%;
  }

  .col-sm-10 {
    width: 83.3333333333%;
    *width: 83.2333333333%;
  }

  .col-sm-9 {
    width: 75%;
    *width: 74.9%;
  }

  .col-sm-8 {
    width: 66.6666666667%;
    *width: 66.5666666667%;
  }

  .col-sm-7 {
    width: 58.3333333333%;
    *width: 58.2333333333%;
  }

  .col-sm-6 {
    width: 50%;
    *width: 49.9%;
  }

  .col-sm-5 {
    width: 41.6666666667%;
    *width: 41.5666666667%;
  }

  .col-sm-4 {
    width: 33.3333333333%;
    *width: 33.2333333333%;
  }

  .col-sm-3 {
    width: 25%;
    *width: 24.9%;
  }

  .col-sm-2 {
    width: 16.6666666667%;
    *width: 16.5666666667%;
  }

  .col-sm-1 {
    width: 8.3333333333%;
    *width: 8.2333333333%;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    width: 100%;
    *width: 99.9%;
  }

  .col-md-11 {
    width: 91.6666666667%;
    *width: 91.5666666667%;
  }

  .col-md-10 {
    width: 83.3333333333%;
    *width: 83.2333333333%;
  }

  .col-md-9 {
    width: 75%;
    *width: 74.9%;
  }

  .col-md-8 {
    width: 66.6666666667%;
    *width: 66.5666666667%;
  }

  .col-md-7 {
    width: 58.3333333333%;
    *width: 58.2333333333%;
  }

  .col-md-6 {
    width: 50%;
    *width: 49.9%;
  }

  .col-md-5 {
    width: 41.6666666667%;
    *width: 41.5666666667%;
  }

  .col-md-4 {
    width: 33.3333333333%;
    *width: 33.2333333333%;
  }

  .col-md-3 {
    width: 25%;
    *width: 24.9%;
  }

  .col-md-2 {
    width: 16.6666666667%;
    *width: 16.5666666667%;
  }

  .col-md-1 {
    width: 8.3333333333%;
    *width: 8.2333333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    width: 100%;
    *width: 99.9%;
  }

  .col-lg-11 {
    width: 91.6666666667%;
    *width: 91.5666666667%;
  }

  .col-lg-10 {
    width: 83.3333333333%;
    *width: 83.2333333333%;
  }

  .col-lg-9 {
    width: 75%;
    *width: 74.9%;
  }

  .col-lg-8 {
    width: 66.6666666667%;
    *width: 66.5666666667%;
  }

  .col-lg-7 {
    width: 58.3333333333%;
    *width: 58.2333333333%;
  }

  .col-lg-6 {
    width: 50%;
    *width: 49.9%;
  }

  .col-lg-5 {
    width: 41.6666666667%;
    *width: 41.5666666667%;
  }

  .col-lg-4 {
    width: 33.3333333333%;
    *width: 33.2333333333%;
  }

  .col-lg-3 {
    width: 25%;
    *width: 24.9%;
  }

  .col-lg-2 {
    width: 16.6666666667%;
    *width: 16.5666666667%;
  }

  .col-lg-1 {
    width: 8.3333333333%;
    *width: 8.2333333333%;
  }
}
@media (min-width: 1200px) {
  .col-xlg-12 {
    width: 100%;
    *width: 99.9%;
  }

  .col-xlg-11 {
    width: 91.6666666667%;
    *width: 91.5666666667%;
  }

  .col-xlg-10 {
    width: 83.3333333333%;
    *width: 83.2333333333%;
  }

  .col-xlg-9 {
    width: 75%;
    *width: 74.9%;
  }

  .col-xlg-8 {
    width: 66.6666666667%;
    *width: 66.5666666667%;
  }

  .col-xlg-7 {
    width: 58.3333333333%;
    *width: 58.2333333333%;
  }

  .col-xlg-6 {
    width: 50%;
    *width: 49.9%;
  }

  .col-xlg-5 {
    width: 41.6666666667%;
    *width: 41.5666666667%;
  }

  .col-xlg-4 {
    width: 33.3333333333%;
    *width: 33.2333333333%;
  }

  .col-xlg-3 {
    width: 25%;
    *width: 24.9%;
  }

  .col-xlg-2 {
    width: 16.6666666667%;
    *width: 16.5666666667%;
  }

  .col-xlg-1 {
    width: 8.3333333333%;
    *width: 8.2333333333%;
  }
}
.col-auto {
  -ms-flex: 1 0 0px;
  -webkit-flex: 1 0 0px;
  flex: 1 0 0px;
  width: auto;
}

@media (min-width: 576px) {
  .col-xs-auto {
    -ms-flex: 1 0 0px;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto;
  }
}
@media (min-width: 768px) {
  .col-sm-auto {
    -ms-flex: 1 0 0px;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto;
  }
}
@media (min-width: 992px) {
  .col-md-auto {
    -ms-flex: 1 0 0px;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto;
  }
}
@media (min-width: 1200px) {
  .col-lg-auto {
    -ms-flex: 1 0 0px;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto;
  }
}
@media (min-width: 1200px) {
  .col-xlg-auto {
    -ms-flex: 1 0 0px;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto;
  }
}
.order-12 {
  -ms-flex-order: 12;
  -webkit-order: 12;
  order: 12;
}

.order-11 {
  -ms-flex-order: 11;
  -webkit-order: 11;
  order: 11;
}

.order-10 {
  -ms-flex-order: 10;
  -webkit-order: 10;
  order: 10;
}

.order-9 {
  -ms-flex-order: 9;
  -webkit-order: 9;
  order: 9;
}

.order-8 {
  -ms-flex-order: 8;
  -webkit-order: 8;
  order: 8;
}

.order-7 {
  -ms-flex-order: 7;
  -webkit-order: 7;
  order: 7;
}

.order-6 {
  -ms-flex-order: 6;
  -webkit-order: 6;
  order: 6;
}

.order-5 {
  -ms-flex-order: 5;
  -webkit-order: 5;
  order: 5;
}

.order-4 {
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4;
}

.order-3 {
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}

.order-2 {
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}

.order-1 {
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

.order-0 {
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
}

@media only screen and (min-width: 576px) {
  .order-12-xs {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }

  .order-11-xs {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }

  .order-10-xs {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }

  .order-9-xs {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }

  .order-8-xs {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }

  .order-7-xs {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }

  .order-6-xs {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }

  .order-5-xs {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }

  .order-4-xs {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }

  .order-3-xs {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }

  .order-2-xs {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .order-1-xs {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  .order-0-xs {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}
@media only screen and (min-width: 768px) {
  .order-12-sm {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }

  .order-11-sm {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }

  .order-10-sm {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }

  .order-9-sm {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }

  .order-8-sm {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }

  .order-7-sm {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }

  .order-6-sm {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }

  .order-5-sm {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }

  .order-4-sm {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }

  .order-3-sm {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }

  .order-2-sm {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .order-1-sm {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  .order-0-sm {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}
@media only screen and (min-width: 992px) {
  .order-12-md {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }

  .order-11-md {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }

  .order-10-md {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }

  .order-9-md {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }

  .order-8-md {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }

  .order-7-md {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }

  .order-6-md {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }

  .order-5-md {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }

  .order-4-md {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }

  .order-3-md {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }

  .order-2-md {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .order-1-md {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  .order-0-md {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .order-12-lg {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }

  .order-11-lg {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }

  .order-10-lg {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }

  .order-9-lg {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }

  .order-8-lg {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }

  .order-7-lg {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }

  .order-6-lg {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }

  .order-5-lg {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }

  .order-4-lg {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }

  .order-3-lg {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }

  .order-2-lg {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .order-1-lg {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  .order-0-lg {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .order-12-xlg {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }

  .order-11-xlg {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }

  .order-10-xlg {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }

  .order-9-xlg {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }

  .order-8-xlg {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }

  .order-7-xlg {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }

  .order-6-xlg {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }

  .order-5-xlg {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }

  .order-4-xlg {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }

  .order-3-xlg {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }

  .order-2-xlg {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .order-1-xlg {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  .order-0-xlg {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}
.offset-11 {
  margin-left: 91.6666666667%;
  *margin-left: 91.5666666667%;
}

.offset-10 {
  margin-left: 83.3333333333%;
  *margin-left: 83.2333333333%;
}

.offset-9 {
  margin-left: 75%;
  *margin-left: 74.9%;
}

.offset-8 {
  margin-left: 66.6666666667%;
  *margin-left: 66.5666666667%;
}

.offset-7 {
  margin-left: 58.3333333333%;
  *margin-left: 58.2333333333%;
}

.offset-6 {
  margin-left: 50%;
  *margin-left: 49.9%;
}

.offset-5 {
  margin-left: 41.6666666667%;
  *margin-left: 41.5666666667%;
}

.offset-4 {
  margin-left: 33.3333333333%;
  *margin-left: 33.2333333333%;
}

.offset-3 {
  margin-left: 25%;
  *margin-left: 24.9%;
}

.offset-2 {
  margin-left: 16.6666666667%;
  *margin-left: 16.5666666667%;
}

.offset-1 {
  margin-left: 8.3333333333%;
  *margin-left: 8.2333333333%;
}

@media only screen and (min-width: 576px) {
  .offset-11-xs {
    margin-left: 91.6666666667%;
    *margin-left: 91.5666666667%;
  }

  .offset-10-xs {
    margin-left: 83.3333333333%;
    *margin-left: 83.2333333333%;
  }

  .offset-9-xs {
    margin-left: 75%;
    *margin-left: 74.9%;
  }

  .offset-8-xs {
    margin-left: 66.6666666667%;
    *margin-left: 66.5666666667%;
  }

  .offset-7-xs {
    margin-left: 58.3333333333%;
    *margin-left: 58.2333333333%;
  }

  .offset-6-xs {
    margin-left: 50%;
    *margin-left: 49.9%;
  }

  .offset-5-xs {
    margin-left: 41.6666666667%;
    *margin-left: 41.5666666667%;
  }

  .offset-4-xs {
    margin-left: 33.3333333333%;
    *margin-left: 33.2333333333%;
  }

  .offset-3-xs {
    margin-left: 25%;
    *margin-left: 24.9%;
  }

  .offset-2-xs {
    margin-left: 16.6666666667%;
    *margin-left: 16.5666666667%;
  }

  .offset-1-xs {
    margin-left: 8.3333333333%;
    *margin-left: 8.2333333333%;
  }

  .offset-0-xs {
    margin-left: 0;
    *margin-left: -0.1%;
  }
}
@media only screen and (min-width: 768px) {
  .offset-11-sm {
    margin-left: 91.6666666667%;
    *margin-left: 91.5666666667%;
  }

  .offset-10-sm {
    margin-left: 83.3333333333%;
    *margin-left: 83.2333333333%;
  }

  .offset-9-sm {
    margin-left: 75%;
    *margin-left: 74.9%;
  }

  .offset-8-sm {
    margin-left: 66.6666666667%;
    *margin-left: 66.5666666667%;
  }

  .offset-7-sm {
    margin-left: 58.3333333333%;
    *margin-left: 58.2333333333%;
  }

  .offset-6-sm {
    margin-left: 50%;
    *margin-left: 49.9%;
  }

  .offset-5-sm {
    margin-left: 41.6666666667%;
    *margin-left: 41.5666666667%;
  }

  .offset-4-sm {
    margin-left: 33.3333333333%;
    *margin-left: 33.2333333333%;
  }

  .offset-3-sm {
    margin-left: 25%;
    *margin-left: 24.9%;
  }

  .offset-2-sm {
    margin-left: 16.6666666667%;
    *margin-left: 16.5666666667%;
  }

  .offset-1-sm {
    margin-left: 8.3333333333%;
    *margin-left: 8.2333333333%;
  }

  .offset-0-sm {
    margin-left: 0;
    *margin-left: -0.1%;
  }
}
@media only screen and (min-width: 992px) {
  .offset-11-md {
    margin-left: 91.6666666667%;
    *margin-left: 91.5666666667%;
  }

  .offset-10-md {
    margin-left: 83.3333333333%;
    *margin-left: 83.2333333333%;
  }

  .offset-9-md {
    margin-left: 75%;
    *margin-left: 74.9%;
  }

  .offset-8-md {
    margin-left: 66.6666666667%;
    *margin-left: 66.5666666667%;
  }

  .offset-7-md {
    margin-left: 58.3333333333%;
    *margin-left: 58.2333333333%;
  }

  .offset-6-md {
    margin-left: 50%;
    *margin-left: 49.9%;
  }

  .offset-5-md {
    margin-left: 41.6666666667%;
    *margin-left: 41.5666666667%;
  }

  .offset-4-md {
    margin-left: 33.3333333333%;
    *margin-left: 33.2333333333%;
  }

  .offset-3-md {
    margin-left: 25%;
    *margin-left: 24.9%;
  }

  .offset-2-md {
    margin-left: 16.6666666667%;
    *margin-left: 16.5666666667%;
  }

  .offset-1-md {
    margin-left: 8.3333333333%;
    *margin-left: 8.2333333333%;
  }

  .offset-0-md {
    margin-left: 0;
    *margin-left: -0.1%;
  }
}
@media only screen and (min-width: 1200px) {
  .offset-11-lg {
    margin-left: 91.6666666667%;
    *margin-left: 91.5666666667%;
  }

  .offset-10-lg {
    margin-left: 83.3333333333%;
    *margin-left: 83.2333333333%;
  }

  .offset-9-lg {
    margin-left: 75%;
    *margin-left: 74.9%;
  }

  .offset-8-lg {
    margin-left: 66.6666666667%;
    *margin-left: 66.5666666667%;
  }

  .offset-7-lg {
    margin-left: 58.3333333333%;
    *margin-left: 58.2333333333%;
  }

  .offset-6-lg {
    margin-left: 50%;
    *margin-left: 49.9%;
  }

  .offset-5-lg {
    margin-left: 41.6666666667%;
    *margin-left: 41.5666666667%;
  }

  .offset-4-lg {
    margin-left: 33.3333333333%;
    *margin-left: 33.2333333333%;
  }

  .offset-3-lg {
    margin-left: 25%;
    *margin-left: 24.9%;
  }

  .offset-2-lg {
    margin-left: 16.6666666667%;
    *margin-left: 16.5666666667%;
  }

  .offset-1-lg {
    margin-left: 8.3333333333%;
    *margin-left: 8.2333333333%;
  }

  .offset-0-lg {
    margin-left: 0;
    *margin-left: -0.1%;
  }
}
@media only screen and (min-width: 1200px) {
  .offset-11-xlg {
    margin-left: 91.6666666667%;
    *margin-left: 91.5666666667%;
  }

  .offset-10-xlg {
    margin-left: 83.3333333333%;
    *margin-left: 83.2333333333%;
  }

  .offset-9-xlg {
    margin-left: 75%;
    *margin-left: 74.9%;
  }

  .offset-8-xlg {
    margin-left: 66.6666666667%;
    *margin-left: 66.5666666667%;
  }

  .offset-7-xlg {
    margin-left: 58.3333333333%;
    *margin-left: 58.2333333333%;
  }

  .offset-6-xlg {
    margin-left: 50%;
    *margin-left: 49.9%;
  }

  .offset-5-xlg {
    margin-left: 41.6666666667%;
    *margin-left: 41.5666666667%;
  }

  .offset-4-xlg {
    margin-left: 33.3333333333%;
    *margin-left: 33.2333333333%;
  }

  .offset-3-xlg {
    margin-left: 25%;
    *margin-left: 24.9%;
  }

  .offset-2-xlg {
    margin-left: 16.6666666667%;
    *margin-left: 16.5666666667%;
  }

  .offset-1-xlg {
    margin-left: 8.3333333333%;
    *margin-left: 8.2333333333%;
  }

  .offset-0-xlg {
    margin-left: 0;
    *margin-left: -0.1%;
  }
}
.wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.no-wrap {
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.no-wrap [class*=col-] {
  -ms-flex-negative: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
}

.wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.direction-row {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.direction-row-reverse {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.direction-column {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.direction-column-reverse {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.align-start {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.align-end {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.align-end [class*=col-] {
  vertical-align: bottom;
}

.align-center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.align-center [class*=col-] {
  vertical-align: middle;
}

.align-baseline {
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
}

.align-content-start {
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}

.align-content-end {
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}
.align-content-end [class*=col-] {
  vertical-align: bottom;
}

.align-content-center {
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
}

.align-content-space-between {
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-between;
  align-content: space-between;
}

.align-content-space-around {
  -ms-flex-line-pack: distribute;
  -webkit-align-content: space-around;
  align-content: space-around;
}

.align-self-stretch {
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
  align-self: stretch;
}

.align-self-start {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.align-self-end {
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  vertical-align: bottom;
}

.align-self-center {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  vertical-align: middle;
}

.align-self-baseline {
  -ms-flex-item-align: baseline;
  -webkit-align-self: baseline;
  align-self: baseline;
  vertical-align: baseline;
}

.justify-start {
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.justify-start.grid {
  text-align: left;
}

.justify-end {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.justify-end.grid {
  text-align: right;
  -moz-text-align-last: right;
  text-align-last: right;
}
.justify-end.grid [class*=col-] {
  text-align: left;
  text-align: start;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  text-align-last: left;
  text-align-last: start;
}

.justify-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.justify-center.grid {
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
}
.justify-center.grid [class*=col-] {
  text-align: left;
  text-align: start;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  text-align-last: left;
  text-align-last: start;
}

.justify-space-between {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.justify-space-between.grid {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
}
.justify-space-between.grid [class*=col-] {
  text-align: left;
  text-align: start;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  text-align-last: left;
  text-align-last: start;
}

.justify-space-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.justify-space-around.grid {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
}
.justify-space-around.grid [class*=col-] {
  text-align: left;
  text-align: start;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  text-align-last: left;
  text-align-last: start;
}

.grid-bleed [class*=col-] {
  padding: 0;
}

.col-grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.col-grid.direction-row {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.col-bleed {
  padding: 0;
}

.col-bleed-x {
  padding: 1rem 0;
}

.col-bleed-y {
  padding: 0 1rem;
}

.flex-img {
  display: block;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 100%;
  height: auto;
  width: 100%;
  *width: auto;
}

.flex-footer {
  width: 100%;
  margin-top: auto;
  margin-bottom: 0;
}
.flex-footer > :last-child {
  margin-bottom: 0;
}

@media (max-width: 575px) {
  .hidden-xxs {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none;
  }
}

@media (min-width: 1200px) and (max-width: 1199px) {
  .hidden-lg {
    display: none;
  }
}

@media (min-width: 1200px) {
  .hidden-xlg {
    display: none;
  }
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  font-family: "Cabin", Geneva, sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: inherit;
  margin-bottom: 2rem;
}
h1.super-header, h2.super-header, h3.super-header, h4.super-header, h5.super-header, .h1.super-header, .h2.super-header, .h3.super-header, .h4.super-header, .h5.super-header {
  font-size: 4rem;
  line-height: 1.18;
}
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, .h1:last-child, .h2:last-child, .h3:last-child, .h4:last-child, .h5:last-child {
  margin-bottom: 0;
}

.super-header {
  font-size: 4rem;
  line-height: 1.18;
}
.super-header.vw {
  font-size: 5vw;
}

h1, .h1 {
  font-size: 3rem;
  line-height: 1.22;
}
h1.vw, .h1.vw {
  font-size: 3.5vw;
}

h2, .h2 {
  font-size: 2.5rem;
  line-height: 1.4;
}
h2.vw, .h2.vw {
  font-size: 3vw;
}

h3, .h3 {
  font-size: 2rem;
  line-height: 1.55;
}
h3.vw, .h3.vw {
  font-size: 2.5vw;
}

h4, .h4 {
  font-size: 1.5rem;
  line-height: 1.7;
}
h4.vw, .h4.vw {
  font-size: 2vw;
}

h5, .h5 {
  font-size: 1rem;
  line-height: 1.85;
}
h5.vw, .h5.vw {
  font-size: 1.5vw;
}

ul, ol, dl {
  list-style-position: outside;
  margin-bottom: 1.15rem;
}
ul ul, ul ol, ul dl, ol ul, ol ol, ol dl, dl ul, dl ol, dl dl {
  margin-bottom: 0;
}

ul {
  margin-left: 1.2rem;
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul.lined, ul.none {
  list-style-type: none;
  margin-left: 0;
}
ul.lined li {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

ol {
  margin-left: 1.55rem;
  list-style-type: decimal;
}

.menu {
  display: flex;
}
.menu .item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: inline-block;
  border-radius: 6px;
}
.menu .item.active {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.02);
}
.menu .item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.menu.right .item {
  float: right;
}
.menu.vertical {
  display: block;
}
.menu.vertical .item {
  display: block;
}

.segment {
  background: white;
  padding: 2em;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2), 0 2px 8px rgba(0, 0, 0, 0.14);
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, 0.8);
}
.segment:last-child {
  margin-bottom: 0;
}
.segment.inverted {
  color: white;
  background: #31242b;
}
.segment.primary {
  background-color: white;
}
.segment.primary.header {
  background-color: #eee6f7;
}
.segment.primary.inverted {
  background-color: #7c3eb9;
}
.segment.secondary {
  background-color: #faf0f4;
}
.segment.secondary.header {
  background-color: #edcad9;
}
.segment.secondary.inverted {
  background-color: #493c42;
}
.segment.blue, .segment.info {
  background-color: #ecf1fd;
}
.segment.blue.header, .segment.info.header {
  background-color: #bed0f8;
}
.segment.blue.inverted, .segment.info.inverted {
  background-color: #1340A4;
}
.segment.yellow, .segment.warning {
  background-color: #feeec8;
}
.segment.yellow.header, .segment.warning.header {
  background-color: #fedf96;
}
.segment.yellow.inverted, .segment.warning.inverted {
  background-color: #FDC84A;
  color: #31242b;
}
.segment.red, .segment.error {
  background-color: #fde6e2;
}
.segment.red.header, .segment.error.header {
  background-color: #fabeb2;
}
.segment.red.inverted, .segment.error.inverted {
  background-color: #f15a3b;
}
.segment.green, .segment.valid {
  background-color: #e8eedc;
}
.segment.green.header, .segment.valid.header {
  background-color: #d0ddba;
}
.segment.green.inverted, .segment.valid.inverted {
  background-color: #5e8c0c;
}

.segments {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2), 0 2px 8px rgba(0, 0, 0, 0.14);
  margin-bottom: 2rem;
}
.segments:last-child {
  margin-bottom: 0;
}
.segments .segment {
  box-shadow: none;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.segments .segment.primary, .segments .segment.secondary, .segments .segment.blue, .segments .segment.yellow, .segments .segment.red, .segments .segment.green {
  border: 0;
}
.segments .segment:last-child {
  border: 0;
}

table {
  border: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 2px;
}
table .aligned.right {
  text-align-last: end;
}
table .aligned.left {
  text-align-last: start;
}
table .aligned.center {
  text-align-last: center;
}
table td, table th {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.6666666667em;
}
table td.collapsing, table th.collapsing {
  width: 1px;
  white-space: nowrap;
}
table.basic {
  border: 0;
}
table.basic tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
table.basic tr:last-child {
  border-bottom: 0;
}
table.basic td, table.basic th {
  border: 0;
}
table.basic tfoot {
  border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.body.head {
  background-image: linear-gradient(-122deg, rgba(88, 54, 122, 0.16), #ffffff);
}
.body.head .hero {
  padding: 4rem 0;
}

.main {
  background-image: linear-gradient(-122deg, #7c3eb9, #eb0066);
  color: #FBFBFB;
}

.footer {
  background: yellow;
}

.customize {
  padding: 4em 0;
}
.customize .frame {
  border: 1px solid #000;
}

.checkout {
  padding: 4em 0;
  background-image: linear-gradient(-122deg, rgba(88, 54, 122, 0.16), #ffffff);
}
.checkout .promo.code {
  margin: 1rem 0;
}

/*# sourceMappingURL=style.css.map */
