@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Cabin:700|Roboto:400,400i,700,700i");
h1, h2, h3, h4, h5, p, blockquote, figure, ol, ul {
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
}

main {
  display: block;
}

::-moz-selection {
  background-color: #fb056f;
  color: #fff;
}

::selection {
  background-color: #fb056f;
  color: #fff;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

:focus {
  outline: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

body {
  margin: 0;
  line-height: 1.4;
  font-family: "Roboto", Geneva, sans-serif;
  color: #31242b;
}

hr {
  height: 2px;
  margin: 1rem auto;
  border: 0;
  background: rgba(0, 0, 0, 0.3);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.hide, .xlarge-hide {
  display: none !important;
}

.small-show, .medium-show, .large-show, xlarge-show {
  display: none;
}

.clear:before, .clear:after {
  content: "";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  zoom: 1;
}

a {
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  color: #fb056f;
  cursor: pointer;
  -webkit-text-decoration-skip: objects;
}
a:active, a:hover {
  color: #980243;
}
a img {
  border: 0;
}

p {
  margin-bottom: 1.1rem;
  text-rendering: optimizeLegibility;
}

.aligned.left {
  text-align: left;
}
.aligned.right {
  text-align: right;
}
.aligned.center {
  text-align: center;
}

em, i, .em {
  font-style: italic;
  line-height: inherit;
}

.uppercase {
  text-transform: uppercase;
}

strong, b, .strong {
  font-weight: bold;
  line-height: inherit;
}

small, .small {
  font-size: 80%;
}

.large {
  font-size: 140%;
}

sup, .sup, sub, .sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup, .sup {
  top: -0.5em;
}

sub, .sub {
  bottom: -0.5em;
}

.ellipsis, .ellipsis li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-clip, .text-clip li {
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

.img, img {
  max-width: 100%;
  height: auto;
  border: 0;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed, .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "icons";
  src: url("assets/fonts/icons.eot");
  src: url("assets/fonts/icons.eot#iefix") format("embedded-opentype"), url("assets/fonts/icons.woff") format("woff"), url("assets/fonts/icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: "icons";
  display: inline-block;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon.big {
  font-size: 2rem;
}
.icon.huge {
  font-size: 4rem;
}

@font-face {
  font-family: "icons";
  src: url("assets/fonts/icons.eot");
  src: url("assets/fonts/icons.eot#iefix") format("embedded-opentype"), url("assets/fonts/icons.woff") format("woff"), url("assets/fonts/icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: "icons";
  display: inline-block;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Icons */
.icon.carret.down.circle:before {
  content: "";
}

.icon.carret.down:before {
  content: "";
}

.icon.carret.left.circle:before {
  content: "";
}

.icon.carret.left:before {
  content: "";
}

.icon.carret.right.circle:before {
  content: "";
}

.icon.carret.right:before {
  content: "";
}

.icon.carret.up.circle:before {
  content: "";
}

.icon.carret.up:before {
  content: "";
}

.icon.cart:before {
  content: "";
}

.icon.check:before {
  content: "";
}

.icon.chevron.double.down:before {
  content: "";
}

.icon.chevron.double.up:before {
  content: "";
}

.icon.chevron.down:before {
  content: "";
}

.icon.chevron.left:before {
  content: "";
}

.icon.chevron.right:before {
  content: "";
}

.icon.chevron.up:before {
  content: "";
}

.icon.close:before {
  content: "";
}

.icon.closing:before {
  content: "";
}

.icon.color.edit:before {
  content: "";
}

.icon.dots.horizontal:before {
  content: "";
}

.icon.dots.vertical:before {
  content: "";
}

.icon.download:before {
  content: "";
}

.icon.edit:before {
  content: "";
}

.icon.error.circle:before {
  content: "";
}

.icon.error:before {
  content: "";
}

.icon.facebook:before {
  content: "";
}

.icon.failed:before {
  content: "";
}

.icon.help.circle:before {
  content: "";
}

.icon.hide:before {
  content: "";
}

.icon.home:before {
  content: "";
}

.icon.info:before {
  content: "";
}

.icon.mail:before {
  content: "";
}

.icon.minus.circle:before {
  content: "";
}

.icon.successed:before {
  content: "";
}

.icon.upload:before {
  content: "";
}

.icon.user:before {
  content: "";
}

.icon.warning.circle:before {
  content: "";
}

.icon.warning.sign:before {
  content: "";
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.row.content {
  max-width: 1024px;
  margin: auto;
}
.row .column {
  box-sizing: border-box;
  max-width: 100%;
}
.row.centered {
  text-align: center;
}
.row.centered:not([class*="only text"]) {
  justify-content: center;
}
.row.all.centered {
  align-items: center;
}
.row.reversed {
  flex-direction: row-reverse;
}
.row:not(.column) .column:not(.wide) {
  flex: 1;
}
.row .fill.column {
  flex: 1;
}
.row .container {
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}
.row .fluid.container {
  width: 100%;
}
.row [class*="one wide column"] {
  flex: 0 8.3333333333%;
}
.row [class*="offset one column"] {
  margin-left: 0 8.3333333333%;
}
.row [class*="two wide column"] {
  flex: 0 16.6666666667%;
}
.row [class*="offset two column"] {
  margin-left: 0 16.6666666667%;
}
.row [class*="three wide column"] {
  flex: 0 25%;
}
.row [class*="offset three column"] {
  margin-left: 0 25%;
}
.row [class*="four wide column"] {
  flex: 0 33.3333333333%;
}
.row [class*="offset four column"] {
  margin-left: 0 33.3333333333%;
}
.row [class*="five wide column"] {
  flex: 0 41.6666666667%;
}
.row [class*="offset five column"] {
  margin-left: 0 41.6666666667%;
}
.row [class*="six wide column"] {
  flex: 0 50%;
}
.row [class*="offset six column"] {
  margin-left: 0 50%;
}
.row [class*="seven wide column"] {
  flex: 0 58.3333333333%;
}
.row [class*="offset seven column"] {
  margin-left: 0 58.3333333333%;
}
.row [class*="eight wide column"] {
  flex: 0 66.6666666667%;
}
.row [class*="offset eight column"] {
  margin-left: 0 66.6666666667%;
}
.row [class*="nine wide column"] {
  flex: 0 75%;
}
.row [class*="offset nine column"] {
  margin-left: 0 75%;
}
.row [class*="ten wide column"] {
  flex: 0 83.3333333333%;
}
.row [class*="offset ten column"] {
  margin-left: 0 83.3333333333%;
}
.row [class*="eleven wide column"] {
  flex: 0 91.6666666667%;
}
.row [class*="offset eleven column"] {
  margin-left: 0 91.6666666667%;
}
.row [class*="twelve wide column"] {
  flex: 0 100%;
}
.row [class*="offset twelve column"] {
  margin-left: 0 100%;
}
@media all and (min-width: 1px) {
  .row [class*="one wide on mobile"].column {
    flex: 0 8.3333333333%;
  }
  .row [class*="offset one on mobile"].column {
    margin-left: 0 8.3333333333%;
  }
  .row [class*="two wide on mobile"].column {
    flex: 0 16.6666666667%;
  }
  .row [class*="offset two on mobile"].column {
    margin-left: 0 16.6666666667%;
  }
  .row [class*="three wide on mobile"].column {
    flex: 0 25%;
  }
  .row [class*="offset three on mobile"].column {
    margin-left: 0 25%;
  }
  .row [class*="four wide on mobile"].column {
    flex: 0 33.3333333333%;
  }
  .row [class*="offset four on mobile"].column {
    margin-left: 0 33.3333333333%;
  }
  .row [class*="five wide on mobile"].column {
    flex: 0 41.6666666667%;
  }
  .row [class*="offset five on mobile"].column {
    margin-left: 0 41.6666666667%;
  }
  .row [class*="six wide on mobile"].column {
    flex: 0 50%;
  }
  .row [class*="offset six on mobile"].column {
    margin-left: 0 50%;
  }
  .row [class*="seven wide on mobile"].column {
    flex: 0 58.3333333333%;
  }
  .row [class*="offset seven on mobile"].column {
    margin-left: 0 58.3333333333%;
  }
  .row [class*="eight wide on mobile"].column {
    flex: 0 66.6666666667%;
  }
  .row [class*="offset eight on mobile"].column {
    margin-left: 0 66.6666666667%;
  }
  .row [class*="nine wide on mobile"].column {
    flex: 0 75%;
  }
  .row [class*="offset nine on mobile"].column {
    margin-left: 0 75%;
  }
  .row [class*="ten wide on mobile"].column {
    flex: 0 83.3333333333%;
  }
  .row [class*="offset ten on mobile"].column {
    margin-left: 0 83.3333333333%;
  }
  .row [class*="eleven wide on mobile"].column {
    flex: 0 91.6666666667%;
  }
  .row [class*="offset eleven on mobile"].column {
    margin-left: 0 91.6666666667%;
  }
  .row [class*="twelve wide on mobile"].column {
    flex: 0 100%;
  }
  .row [class*="offset twelve on mobile"].column {
    margin-left: 0 100%;
  }
}
@media all and (min-width: 48em) {
  .row [class*="one wide on tablet"].column {
    flex: 0 8.3333333333%;
  }
  .row [class*="offset one on tablet"].column {
    margin-left: 0 8.3333333333%;
  }
  .row [class*="two wide on tablet"].column {
    flex: 0 16.6666666667%;
  }
  .row [class*="offset two on tablet"].column {
    margin-left: 0 16.6666666667%;
  }
  .row [class*="three wide on tablet"].column {
    flex: 0 25%;
  }
  .row [class*="offset three on tablet"].column {
    margin-left: 0 25%;
  }
  .row [class*="four wide on tablet"].column {
    flex: 0 33.3333333333%;
  }
  .row [class*="offset four on tablet"].column {
    margin-left: 0 33.3333333333%;
  }
  .row [class*="five wide on tablet"].column {
    flex: 0 41.6666666667%;
  }
  .row [class*="offset five on tablet"].column {
    margin-left: 0 41.6666666667%;
  }
  .row [class*="six wide on tablet"].column {
    flex: 0 50%;
  }
  .row [class*="offset six on tablet"].column {
    margin-left: 0 50%;
  }
  .row [class*="seven wide on tablet"].column {
    flex: 0 58.3333333333%;
  }
  .row [class*="offset seven on tablet"].column {
    margin-left: 0 58.3333333333%;
  }
  .row [class*="eight wide on tablet"].column {
    flex: 0 66.6666666667%;
  }
  .row [class*="offset eight on tablet"].column {
    margin-left: 0 66.6666666667%;
  }
  .row [class*="nine wide on tablet"].column {
    flex: 0 75%;
  }
  .row [class*="offset nine on tablet"].column {
    margin-left: 0 75%;
  }
  .row [class*="ten wide on tablet"].column {
    flex: 0 83.3333333333%;
  }
  .row [class*="offset ten on tablet"].column {
    margin-left: 0 83.3333333333%;
  }
  .row [class*="eleven wide on tablet"].column {
    flex: 0 91.6666666667%;
  }
  .row [class*="offset eleven on tablet"].column {
    margin-left: 0 91.6666666667%;
  }
  .row [class*="twelve wide on tablet"].column {
    flex: 0 100%;
  }
  .row [class*="offset twelve on tablet"].column {
    margin-left: 0 100%;
  }
}
@media all and (min-width: 75em) {
  .row [class*="one wide on desktop"].column {
    flex: 0 8.3333333333%;
  }
  .row [class*="offset one on desktop"].column {
    margin-left: 0 8.3333333333%;
  }
  .row [class*="two wide on desktop"].column {
    flex: 0 16.6666666667%;
  }
  .row [class*="offset two on desktop"].column {
    margin-left: 0 16.6666666667%;
  }
  .row [class*="three wide on desktop"].column {
    flex: 0 25%;
  }
  .row [class*="offset three on desktop"].column {
    margin-left: 0 25%;
  }
  .row [class*="four wide on desktop"].column {
    flex: 0 33.3333333333%;
  }
  .row [class*="offset four on desktop"].column {
    margin-left: 0 33.3333333333%;
  }
  .row [class*="five wide on desktop"].column {
    flex: 0 41.6666666667%;
  }
  .row [class*="offset five on desktop"].column {
    margin-left: 0 41.6666666667%;
  }
  .row [class*="six wide on desktop"].column {
    flex: 0 50%;
  }
  .row [class*="offset six on desktop"].column {
    margin-left: 0 50%;
  }
  .row [class*="seven wide on desktop"].column {
    flex: 0 58.3333333333%;
  }
  .row [class*="offset seven on desktop"].column {
    margin-left: 0 58.3333333333%;
  }
  .row [class*="eight wide on desktop"].column {
    flex: 0 66.6666666667%;
  }
  .row [class*="offset eight on desktop"].column {
    margin-left: 0 66.6666666667%;
  }
  .row [class*="nine wide on desktop"].column {
    flex: 0 75%;
  }
  .row [class*="offset nine on desktop"].column {
    margin-left: 0 75%;
  }
  .row [class*="ten wide on desktop"].column {
    flex: 0 83.3333333333%;
  }
  .row [class*="offset ten on desktop"].column {
    margin-left: 0 83.3333333333%;
  }
  .row [class*="eleven wide on desktop"].column {
    flex: 0 91.6666666667%;
  }
  .row [class*="offset eleven on desktop"].column {
    margin-left: 0 91.6666666667%;
  }
  .row [class*="twelve wide on desktop"].column {
    flex: 0 100%;
  }
  .row [class*="offset twelve on desktop"].column {
    margin-left: 0 100%;
  }
}
.row[class*="one column"] .column {
  flex: 0 8.3333333333%;
}
.row[class*="two column"] .column {
  flex: 0 9.0909090909%;
}
.row[class*="three column"] .column {
  flex: 0 10%;
}
.row[class*="four column"] .column {
  flex: 0 11.1111111111%;
}
.row[class*="five column"] .column {
  flex: 0 12.5%;
}
.row[class*="six column"] .column {
  flex: 0 14.2857142857%;
}
.row[class*="seven column"] .column {
  flex: 0 16.6666666667%;
}
.row[class*="eight column"] .column {
  flex: 0 20%;
}
.row[class*="nine column"] .column {
  flex: 0 25%;
}
.row[class*="ten column"] .column {
  flex: 0 33.3333333333%;
}
.row[class*="eleven column"] .column {
  flex: 0 50%;
}
.row[class*="twelve column"] .column {
  flex: 0 100%;
}
@media all and (max-width: 74.9em) {
  .row.stackable .column {
    flex: 0 100%;
  }
  .row.reversed.stackable {
    flex-direction: column-reverse;
  }
  .row [class*="fill on mobile"].column {
    flex: 1 !important;
  }
  .row [class*="desktop only"].column,
.row [class*="tablet only"].column,
.row [class*="tablet and desktop only"].column {
    display: none;
  }
  .row [class*="mobile and tablet only"].column,
.row [class*="mobile and desktop only"].column {
    display: block;
  }
}
@media all and (min-width: 48em) and (max-width: 74.9em) {
  .row [class*="fill on tablet"].column {
    flex: 1 !important;
  }
  .row [class*="mobile only"].column,
.row [class*="desktop only"].column,
.row [class*="mobile and desktop only"].column {
    display: none;
  }
  .row [class*="tablet only"].column {
    display: block;
  }
  .row [class*="mobile and tablet only"].column,
.row [class*="tablet and desktop only"].column {
    display: block;
  }
}
@media all and (min-width: 48em) {
  .row [class*="offset zero on tablet"].column {
    margin-left: 0;
  }
}
@media all and (min-width: 75em) {
  .row [class*="fill on desktop"].column {
    flex: 1 !important;
  }
  .row [class*="mobile only"].column,
.row [class*="tablet only"].column,
.row [class*="mobile and tablet only"].column {
    display: none;
  }
  .row [class*="desktop only"].column {
    display: block;
  }
  .row [class*="mobile and desktop only"].column,
.row [class*="tablet and desktop only"].column {
    display: block;
  }
  .row [class*="offset zero on desktop"].column {
    margin-left: 0;
  }
}
@media all and (max-width: 74.9em) {
  .row.stackable .column {
    flex: 0 100%;
  }
  .row.reversed.stackable {
    flex-direction: column-reverse;
  }
  .row [class*="fill on mobile"].column {
    flex: 1 !important;
  }
  .row [class*="desktop only"].column,
.row [class*="tablet only"].column,
.row [class*="tablet and desktop only"].column {
    display: none;
  }
  .row [class*="mobile and tablet only"].column,
.row [class*="mobile and desktop only"].column {
    display: block;
  }
}
@media all and (min-width: 48em) and (max-width: 74.9em) {
  .row [class*="fill on tablet"].column {
    flex: 1 !important;
  }
  .row [class*="mobile only"].column,
.row [class*="desktop only"].column,
.row [class*="mobile and desktop only"].column {
    display: none;
  }
  .row [class*="tablet only"].column {
    display: block;
  }
  .row [class*="mobile and tablet only"].column,
.row [class*="tablet and desktop only"].column {
    display: block;
  }
}
@media all and (min-width: 48em) {
  .row [class*="offset zero on tablet"].column {
    margin-left: 0;
  }
}
@media all and (min-width: 75em) {
  .row [class*="fill on desktop"].column {
    flex: 1 !important;
  }
  .row [class*="mobile only"].column,
.row [class*="tablet only"].column,
.row [class*="mobile and tablet only"].column {
    display: none;
  }
  .row [class*="desktop only"].column {
    display: block;
  }
  .row [class*="mobile and desktop only"].column,
.row [class*="tablet and desktop only"].column {
    display: block;
  }
  .row [class*="offset zero on desktop"].column {
    margin-left: 0;
  }
}

.button, input[type=submit], button {
  display: inline-block;
  position: relative;
  z-index: 2;
  vertical-align: middle;
  overflow: visible;
  border: solid 2px #fb056f;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fb056f;
  color: #fff;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  text-align: center;
  font-size: 1rem;
  line-height: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.button:hover, input[type=submit]:hover, button:hover {
  background-color: #ca0359;
  border-color: #ca0359;
  color: #fff;
}
.button:active, .button:focus, .button:visited, input[type=submit]:active, input[type=submit]:focus, input[type=submit]:visited, button:active, button:focus, button:visited {
  color: #fff;
}
.button.ghost, input[type=submit].ghost, button.ghost {
  background: transparent;
  color: #fb056f;
}
.button.ghost:hover, input[type=submit].ghost:hover, button.ghost:hover {
  background: #fb056f;
  color: #FFFFFF;
}
.button.full-width, input[type=submit].full-width, button.full-width {
  width: 100%;
}
.button.blue, input[type=submit].blue, button.blue {
  background-color: #1340A4;
  border-color: #1340A4;
}
.button.blue.ghost, input[type=submit].blue.ghost, button.blue.ghost {
  background: transparent;
  color: #1340A4;
}
.button.blue.ghost:hover, input[type=submit].blue.ghost:hover, button.blue.ghost:hover {
  background: #1340A4;
  color: #FFFFFF;
}
.button.blue:hover, input[type=submit].blue:hover, button.blue:hover {
  background-color: #0e2e76;
  border-color: #0e2e76;
}
.button.green, input[type=submit].green, button.green {
  background-color: #5e8c0c;
  border-color: #5e8c0c;
}
.button.green.ghost, input[type=submit].green.ghost, button.green.ghost {
  background: transparent;
  color: #5e8c0c;
}
.button.green.ghost:hover, input[type=submit].green.ghost:hover, button.green.ghost:hover {
  background: #5e8c0c;
  color: #FFFFFF;
}
.button.green:hover, input[type=submit].green:hover, button.green:hover {
  background-color: #3e5d08;
  border-color: #3e5d08;
}
.button.red, input[type=submit].red, button.red {
  background-color: #f15a3b;
  border-color: #f15a3b;
}
.button.red.ghost, input[type=submit].red.ghost, button.red.ghost {
  background: transparent;
  color: #f15a3b;
}
.button.red.ghost:hover, input[type=submit].red.ghost:hover, button.red.ghost:hover {
  background: #f15a3b;
  color: #FFFFFF;
}
.button.red:hover, input[type=submit].red:hover, button.red:hover {
  background-color: #e83511;
  border-color: #e83511;
}
.button.yellow, input[type=submit].yellow, button.yellow {
  background-color: #FDC84A;
  border-color: #FDC84A;
}
.button.yellow.ghost, input[type=submit].yellow.ghost, button.yellow.ghost {
  background: transparent;
  color: #FDC84A;
}
.button.yellow.ghost:hover, input[type=submit].yellow.ghost:hover, button.yellow.ghost:hover {
  background: #FDC84A;
  color: #FFFFFF;
}
.button.yellow:hover, input[type=submit].yellow:hover, button.yellow:hover {
  background-color: #fdb64a;
  border-color: #fdb64a;
}
.button.disabled, input[type=submit].disabled, button.disabled {
  background-color: rgba(49, 36, 43, 0.2);
  border-color: transparent;
  color: rgba(49, 36, 43, 0.5);
  cursor: not-allowed;
}
.button.disabled:hover, input[type=submit].disabled:hover, button.disabled:hover {
  background-color: rgba(49, 36, 43, 0.2);
  border-color: transparent;
}
.button.raised, input[type=submit].raised, button.raised {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 2px 8px rgba(0, 0, 0, 0.14);
  border-color: transparent;
}
.button.raised:hover, input[type=submit].raised:hover, button.raised:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25), 0 4px 20px rgba(0, 0, 0, 0.18);
  border-color: transparent;
}
.button.raised:active, input[type=submit].raised:active, button.raised:active {
  border-color: transparent;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.25), 0 18px 40px rgba(0, 0, 0, 0.19);
}
.button.flat, input[type=submit].flat, button.flat {
  background-color: transparent;
  border-color: transparent;
  color: rgba(49, 36, 43, 0.75);
}
.button.flat:hover, input[type=submit].flat:hover, button.flat:hover {
  color: #31242b;
  background-color: rgba(49, 36, 43, 0.1);
}
.button.flat:active, input[type=submit].flat:active, button.flat:active {
  background-color: rgba(49, 36, 43, 0.2);
}
.button.round, input[type=submit].round, button.round {
  border-radius: 99rem;
}
.button.small, input[type=submit].small, button.small {
  font-size: 0.675em;
}
.button.big, input[type=submit].big, button.big {
  font-size: 1.5em;
  padding: 0.7em 0.9em;
}
.button.huge, input[type=submit].huge, button.huge {
  font-size: 2em;
  padding: 0.7em 1.9em;
}

ul, ol, dl {
  list-style-position: outside;
  margin-bottom: 1.15rem;
}
ul ul, ul ol, ul dl, ol ul, ol ol, ol dl, dl ul, dl ol, dl dl {
  margin-bottom: 0;
}

ul {
  margin-left: 1.2rem;
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul.lined, ul.none {
  list-style-type: none;
  margin-left: 0;
}
ul.lined li {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

ol {
  margin-left: 1.55rem;
  list-style-type: decimal;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  font-family: "Cabin", Geneva, sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: inherit;
}
h1.super-header, h2.super-header, h3.super-header, h4.super-header, h5.super-header, .h1.super-header, .h2.super-header, .h3.super-header, .h4.super-header, .h5.super-header {
  font-size: 4rem;
  line-height: 1.18;
}

.super-header {
  font-size: 4rem;
  line-height: 1.18;
}

.h1 {
  font-size: 3rem;
  line-height: 1.22;
}

.h2 {
  font-size: 2.5rem;
  line-height: 1.4;
}

.h3 {
  font-size: 2rem;
  line-height: 1.55;
}

.h4 {
  font-size: 1.5rem;
  line-height: 1.7;
}

.h5 {
  font-size: 1rem;
  line-height: 1.85;
}

.sub-header {
  font-weight: 200;
  color: rgba(49, 36, 43, 0.6);
}

.super-header.vw {
  font-size: 5vw;
}

.h1.vw {
  font-size: 3.5vw;
}

.h2.vw {
  font-size: 3vw;
}

.h3.vw {
  font-size: 2.5vw;
}

.h4.vw {
  font-size: 2vw;
}

.h5.vw {
  font-size: 1.5vw;
}

.menu.main .item {
  padding: 0.5rem 1rem;
  display: inline-block;
  margin: 0.5rem;
}
.menu.main .item.active {
  font-weight: bold;
}
.menu.main .item:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1098039216);
}

.body.head {
  background: linear-gradient(8deg, #dacff8, #f9f9f9);
}
.body.head .hero {
  padding: 4rem 0;
}

.footer {
  background: yellow;
}

/*# sourceMappingURL=style.css.map */
