.header {
  .menu {
    .logo {
      padding: 0.5rem 0;

      img {
        width: 220px;
        max-height: 40px;
        vertical-align: middle;

        @include mobile {
          width: 52px;
        }
        @include tablet {
          width: 52px;
        }
      }
    }
  }
}

.bloc {
  padding: $padding * 2 0;

  @include tablet {
    padding: $padding 0;
  }
  @include mobile {
    padding: $padding 0;
  }
}

.hero {
  background-image: linear-gradient(0deg, rgba(88, 54, 122, 0.16), rgba(255, 255, 255, 0));

  .h1 {
    @include mobile {
      font-size: 1.7em;
    }
    @include tablet {
      font-size: 1.7em;
    }
  }

  .image.poster {
    margin: 0 0 $padding;
    box-shadow: $base-shadow, 0 2px 8px rgba(0, 0, 0, 0.14), 18px 9px 18px -4px rgba(0, 0, 0, 0.14);

  }
}

.showcase {
  background-image: linear-gradient(-122deg, $primary-color, $secondary-color);
  color: $white;
  overflow: hidden;
  position: relative;

  &:before,
  &:after {
    content: "";
    display: block;
    height: 100%;
    width: 30%;
    position: absolute;
    top: 0;
  }

  &:before {
    background: linear-gradient(to right,  $secondary-color 0%, transparentize($secondary-color, 1));
    left: 0;
  }


  &:after {
    background: linear-gradient(to left, $primary-color 0%, transparentize($primary-color, 1));
    right:0;
  }

  .big.button {
    @include tablet {
      margin: 0.5em !important;
    }
    @include mobile {
      margin: 0.5em !important;
    }
  }

  .h1 {
    line-height: .9;
    margin-bottom: $padding / 2;

    .subtitle {
      color: transparentize($white, .4);
      font-size: .5em;
    }

    @include mobile {
      font-size: 1.7em;
    }
    @include tablet {
      font-size: 1.7em;
    }

  }

  .slider {
    min-height: 250px;
    overflow: hidden;
    width: 7250px;
    margin-bottom: $padding;
    padding: $padding;

    @include tablet {
      padding: $padding / 2;
      margin: 0;
    }
    @include mobile {
      padding: $padding / 2;
      margin: 0;
    }

    .first {
      @keyframes bannermove {
        0% {
          margin-left: 0;
        }
        100% {
          margin-left: -2125px;
        }
      }
      animation: bannermove 60s linear infinite;
    }

    img {
      padding: $padding / 2;
      background: $white;
      box-shadow: $base-shadow;
      margin: 0 $padding;

      @include tablet {
        margin: 0 $padding / 2;
      }
      @include mobile {
        margin: 0 $padding / 2;
      }
    }
  }
}

.video {
  .iframe {
    box-shadow: $base-shadow;
    padding: 1rem;
    border-radius: $radius;
  }
}

.how {
  background-image: linear-gradient(80deg, rgba(88, 54, 122, 0.16), rgba(255, 255, 255, 0));

  .h1 {
    @include mobile {
      font-size: 1.7em;
      margin-bottom: $padding/2;
    }
    @include tablet {
      font-size: 1.7em;
    }
  }
}

.footer {
  padding: $padding 0;
  background-image: linear-gradient(-122deg, $primary-color, $secondary-color);
  color: $white;

  a {
    color: $white;
    text-decoration: underline;

    &:hover {
      color: $white !important;
      opacity: .5;
    }
  }
}

.about {
  background: $white;
}
.cgv,
.contact {
  .h1 {
    line-height: .9;
    margin-bottom: $padding / 2;

    .subtitle {
      color: transparentize($text-color, .4);
      font-size: .5em;
    }
  }
}
.cgv {
  .h3 {
    &:not(:first-child) {
      margin-top: $padding;
    }
  }
}
.contact {

  .letter {
    padding: ($padding * 3) ($padding * 2) ($padding * 2) 0;
    background: linear-gradient(-122deg, #fff9f9, #f5e6ed);
    box-shadow: $base-shadow;
    position: relative;
    opacity: 0.7;
    transition: $normal-speed;

    &:hover {
      box-shadow: 0 5px 55px rgba(0, 0, 0, 0.2), 0 2px 28px rgba(0, 0, 0, 0.14);
      transform: translateY(-15px) scale(1.05);
      opacity: 1;
    }

    .address {
      margin-left: 50%;
    }

    .stamp {
      position: absolute;
      width: 50px;
      right: 1.5em;
      top: 1.5em;
    }
  }
}