.customize {
  padding: $padding*2 0;

  $frameHeight: 400px;

  .wrapper {
    position: relative;
    height: $frameHeight;

    @media (max-width: $reflex-lg) {
      height: 320px;
    }
    @media (max-width: $reflex-md) {
      height: 240px;
    }

    @media (max-width: $reflex-sm) {
      height: 170px;
    }

    .frame {
      width: 1200px;
      height: $frameHeight;
      padding: 80px 150px;
      text-align: center;
      background: white;
      position: relative;
      left: 50%;
      top: 50%;
      line-height: 0;
      border-width: 35px;
      border-style: solid;
      border-color: #292929 #212020 #191919 #212121;

      .svg {
        &.only {
          height: 100%;
        }
      }

      .track {
        text-transform: uppercase;
      }
    }
  }
  .size {
    background: #e4e4e4;
    height: 2px;
    width: 97%;
    position: relative;
    margin: 1em auto;

    .content {
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 100px;
      text-align: center;
      background-color: white;
      top: -10px;
    }
  }
}

.hero {
  .field {
    .loader {
      position: absolute;
      left: auto;
      right: 8em;
      top: 0.5em;
    }
  }

  .charts {

    .card {
      .image {
        padding: $padding / 2;
      }
      .content {
        background-color: lighten($gray, 45);
        font-size: .75em;
      }

      &:hover {
        opacity: .8;
        cursor: pointer;
      }
    }
  }
}

.checkout {
  padding: $padding*2 0;
  background-image: linear-gradient(-122deg, rgba(88, 54, 122, 0.16), #ffffff);
}

.search.results {
  padding-left: inherit;
  padding-right: inherit;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;

  .list {
    background-color: $white;
    box-shadow: $base-shadow;
    border-radius: 0 0 $radius $radius;
    width: 100%;
  }

  .item {
    padding: $padding/2;
    display: block;
    width: 100%;

    &:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }

    &:hover {
      background-color: darken($white, 5);
    }

    .artist {
      font-weight: 600;
    }
    .duration {
      color: $white;
      background: $gray;
      font-size: 0.8em;
      padding: 0.3em 0.5em;
      float: right;
      border-radius: $radius;
    }
  }
}

.intersection {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -1.5em !important;
}