.customize {
  padding: $padding*2;

  .frame {
    border:1px solid #000;
  }
}
.checkout {
  padding: $padding*2;
  background-image: linear-gradient(-122deg, rgba(88, 54, 122, 0.16), #ffffff);

  .promo.code {
    margin:1rem 0;
  }
}