.button,
input[type="submit"],
button {
  /* Setup defaults */
  display: inline-block;
  position: relative;
  vertical-align: middle;
  overflow: visible;
  border: solid 2px $primary-color;
  font: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  transition: $fast-speed;
  background-color: $primary-color;
  color: $white;
  border-radius: $radius;
  padding: .6rem 1.5rem;
  margin: 0 .5rem 0 0;
  text-align: center;
  font-size: 1rem;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  user-select: none;

  &:hover {
    transform: scale(1.05);
    color: $white;
  }
  &:active, &:focus, &:visited {
    color: $white;
    transform: scale(1);
  }
  &.ghost {
    color: $primary-color;
    background: none;

    &:hover {
      background-color: transparent;
      border-color: darken($primary-color, 10%);
    }
  }
  &.active {
    background-color: darken($primary-color, 10%);
    border-color: darken($primary-color, 10%);
    color: $white;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.48) inset;
  }
  &.disabled {
    background-color: rgba($text-color, .2);
    border-color: transparent;
    color: rgba($text-color, .5);
    cursor: not-allowed;
    &:hover {
      background-color: rgba($text-color, .2);
      border-color: transparent;
      transform: scale(1);

    }
  }
  &.inverted {
    background: white;
    border: none;
    color: $primary-color;

    &:hover {
      background-color: lighten($primary-color, 45);
    }
  }
  &.flat {
    background-color: transparent;
    border-color: transparent;
    color: rgba($text-color, .75);
    &:hover {
      color: $text-color;
      background-color: rgba($text-color, .1);
      border-color: transparent;
    }
    &:active {
      background-color: rgba($text-color, .2);
      border-color: transparent;
    }
  }

  /* Ok, for each color in swatch array, we build different class with the color name */
  @each $swatch, $color in $swatch {
    &.#{$swatch} {
      background-color: $color;
      border-color: $color;
      @if (lightness($color) > 60) {
        color: $text-color;
      }

      &:hover {
        background-color: darken($color, 10%);
        border-color: darken($color, 10%);
      }
    }
    &.active.#{$swatch} {
      background-color: darken($color, 10%);
      border-color: darken($color, 10%);
      color: $white;
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.48) inset;
    }
    &.disabled.#{$swatch} {
      background-color: rgba($color, .2);
      border-color: transparent;
      color: rgba($color, .5);
      cursor: not-allowed;
      &:hover {
        background-color: rgba($color, .2);
        border-color: transparent;
        transform: scale(1);

      }
    }
    &.ghost.#{$swatch} {
      color: $color;
      background: none;

      &:hover {
        background-color: transparent;
        border-color: darken($color, 10%);
      }
    }
    &.inverted.#{$swatch} {
      background: white;
      border: none;
      color: $color;

      &:hover {
        background-color: lighten($color, 35);
      }
    }
    &.flat.#{$swatch} {
      background-color: transparent;
      border-color: transparent;
      color: rgba($color, .75);
      &:hover {
        color: $color;
        background-color: rgba($color, .1);
        border-color: transparent;
      }
      &:active {
        background-color: rgba($color, .2);
        border-color: transparent;
      }
    }
  }
  .icon {
    margin-right: .5rem;
    font-size: 1.2em;
  }
  &.small {
    font-size: .675em;
    padding: .5em 1.4em;
  }
  &.big {
    font-size: 1.5em;
    padding: .5em 1.9em;
  }
  &.huge {
    font-size: 2em;
    padding: .5em 1.9em;
  }
  &:last-child {
    margin: 0;
  }
  &.full-width {
    width: 100%;
  }
  &.raised {
    box-shadow: $base-shadow;
    border-color: transparent;
    &:hover {
      box-shadow: $hover-shadow;
      border-color: transparent;
    }
    &:active {
      border-color: transparent;
      box-shadow: $selected-shadow;
    }
  }
  &.round {
    border-radius: 99rem;
  }
  &.center.aligned {
    margin: auto;
    display: block;
    align-self: center;
  }
  &.icon {
    padding: 0.6rem 0.8rem;
    line-height: 1;

    .icon {
      margin: 0;
    }
  }
  &.responsive {
    @include tablet {
      display: block;
      width: 60%;
      margin-left: auto !important;
      margin-right: auto !important;
      text-align-last: center;
      &:not(:last-child) {
        margin-bottom: .5rem;
      }
    }

    @include mobile {
      display: block;
      width: 100%;
      text-align-last: center;
      &:not(:last-child) {
        margin-bottom: .5rem;
      }
    }
  }

  &.demo {
    border: 0;

    @include mobile {
      background-color: $red;
    }
    @include tablet {
      background-color: $blue;
    }
    @include desktop {
      background-color: $yellow;
    }
    @include desktop-xl {
      background-color: $green;
    }
  }
}