// Cards
.card {
  box-shadow: $base-shadow;
  border-radius: $small-radius;
  transition: $normal-speed;
  background-color: $white;
  color: $text-color;
  overflow: hidden;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  .content {
    padding: $padding/2;
  }

  .title {
    display: block;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  p {
    margin: 0;
    font-size: .875rem;
  }

  .image {
    img {
      display: block;
      object-fit: cover;
    }
  }

  .actions {
    padding: $padding/3 $padding/2;
    border-top: solid 1px rgba($text-color, .15);

    &.right {
      text-align: right;
    }
  }

  &:hover {
    box-shadow: $hover-shadow;
  }

  &.padded {
    .content {
      padding: $padding;
    }
    .actions {
      padding: $padding/2 $padding;
    }
  }
}