// Cards
.card {
  box-shadow: $base-shadow;
  border-radius: $small-radius;
  transition: $normal-speed;
  overflow: hidden;
  margin-bottom: 1rem;
  .card-content {
    padding: 1rem;
  }
  .card-title {
    display: block;
    font-size: 1.25rem;
  }
  p {
    margin: 0;
    font-size: .875rem;
    color: rgba($font-color, .65);
  }
  .card-image {
    img {
      display: block;
      object-fit: cover;
    }
  }
  .card-actions {
    padding: .75rem 1rem;
    border-top: solid 1px rgba($font-color, .15);
  }
  &:hover {
    box-shadow: $hover-shadow;
  }
}

// Box Styling
.rounded {
  border-radius: $large-radius;
}

.round {
  border-radius: 4000px;
}

.solid-shadow {
  box-shadow: $solid-shadow;
}