// Icons init
@font-face {
    font-family:"icons";
    src:url("assets/fonts/icons.eot");
    src:url("assets/fonts/icons.eot#iefix") format("embedded-opentype"),
    url("assets/fonts/icons.woff") format("woff"),
    url("assets/fonts/icons.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

.icon {

    font-family:"icons";

    display:inline-block;
    line-height:1;
    font-weight:normal;
    font-style:normal;
    speak:none;
    text-decoration:inherit;
    text-transform:none;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

/* Icons */
.icon.carret.down.circle:before { content:"\f101"; }
.icon.carret.down:before { content:"\f102"; }
.icon.carret.left.circle:before { content:"\f103"; }
.icon.carret.left:before { content:"\f104"; }
.icon.carret.right.circle:before { content:"\f105"; }
.icon.carret.right:before { content:"\f106"; }
.icon.carret.up.circle:before { content:"\f107"; }
.icon.carret.up:before { content:"\f108"; }
.icon.cart:before { content:"\f109"; }
.icon.check:before { content:"\f10a"; }
.icon.chevron.double.down:before { content:"\f10b"; }
.icon.chevron.double.up:before { content:"\f10c"; }
.icon.chevron.down:before { content:"\f10d"; }
.icon.chevron.left:before { content:"\f10e"; }
.icon.chevron.right:before { content:"\f10f"; }
.icon.chevron.up:before { content:"\f110"; }
.icon.close:before { content:"\f111"; }
.icon.closing:before { content:"\f112"; }
.icon.color.edit:before { content:"\f113"; }
.icon.dots.horizontal:before { content:"\f114"; }
.icon.dots.vertical:before { content:"\f115"; }
.icon.download:before { content:"\f116"; }
.icon.edit:before { content:"\f117"; }
.icon.error.circle:before { content:"\f118"; }
.icon.error:before { content:"\f119"; }
.icon.facebook:before { content:"\f11a"; }
.icon.failed:before { content:"\f11b"; }
.icon.help.circle:before { content:"\f11c"; }
.icon.hide:before { content:"\f11d"; }
.icon.home:before { content:"\f11e"; }
.icon.info:before { content:"\f11f"; }
.icon.mail:before { content:"\f120"; }
.icon.minus.circle:before { content:"\f121"; }
.icon.successed:before { content:"\f122"; }
.icon.upload:before { content:"\f123"; }
.icon.user:before { content:"\f124"; }
.icon.warning.circle:before { content:"\f125"; }
.icon.warning.sign:before { content:"\f126"; }