// Images
img {
  max-width: 100%;
  height: auto;
  border: 0;
  border-style: none;
}
.image {
  &.mini {
    max-width: 50px;
  }
  &.tiny {
    max-width: 100px;
  }
  &.small {
    max-width: 150px;
  }
  &.medium {
    max-width: 250px;
  }
  &.large {
    max-width: 350px;
  }
  &.big {
    max-width: 450px;
  }
  &.centered {
    margin: auto;
    display: block;
  }

  &.avatar,
  &.rounded {
    border-radius:99rem;
    vertical-align: middle;
  }
}