// https://github.com/negomi/sassy-inputs/blob/master/sass/main.scss
/////////////////////

input[type=text],
input[type=url],
input[type=email],
input[type=password],
input[type=number] {
  box-sizing: border-box;

  width: 100%;
  padding: $padding/3;
  margin-bottom: $padding;
  font-family: inherit;
  font-size: 1em;
  vertical-align: middle;

  border: 1px solid $border-color;
  border-radius: $radius;
  outline: none;

  background-color: white;

  transition: $normal-speed;

  &:focus {
    border-color: $primary-color;
    box-shadow: 0 0 0 5px rgba( $primary-color, .2 );
  }

  &:disabled {
    background-color: $gray;
    cursor: not-allowed;
  }

  &.huge {
    font-size: 1.7em;
  }
}