// https://github.com/negomi/sassy-inputs/blob/master/sass/main.scss
/////////////////////
input[type=text],
input[type=url],
input[type=email],
input[type=password],
input[type=number],
input[type=tel] {
  box-sizing: border-box;
  width: 100%;
  padding: $padding/3;
  margin-bottom: $padding;
  font-family: inherit;
  font-size: 1em;
  vertical-align: middle;
  border: 1px solid $border-color;
  border-radius: $radius;
  outline: none;
  background-color: white;
  transition: $normal-speed;

  &::placeholder {
    color: rgba($text-color, .4);
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:focus {
    border-color: $primary-color;
    box-shadow: 0 0 0 5px rgba($primary-color, .2);

    &::placeholder {
      color: rgba($text-color, .2);
    }
  }

  &:disabled {
    background-color: $gray;
    cursor: not-allowed;
  }

  &.huge {
    font-size: 1.7em;
  }
}

.field {

  label {
    margin-bottom: 0.4rem;
    display: inline-block;
  }

  input[type=text],
  input[type=url],
  input[type=email],
  input[type=password],
  input[type=number],
  input[type=tel] {
    margin: 0;
  }

  &.required {
    label {
      &:after {
        content: '*';
        color: $red;
        margin-left: 3px;
      }
    }
  }

  &.inline.action {
    display: inline-flex;

    input[type=text],
    input[type=url],
    input[type=email],
    input[type=password],
    input[type=number],
    input[type=tel] {
      max-width: 100%;
      border-radius: $radius 0 0 $radius;

      &:focus {
        + .button {
          box-shadow: 0 0 0 5px rgba($primary-color, .2);
          margin-left: 10px;
        }
      }
    }
    .button {
      border-radius: 0 $radius $radius 0;
      &:hover {
        transform: none;
      }
    }

    &.fluid {
      width: 100%;
    }
  }
}