.label {
  display: inline-block;
  background: $grey;
  color: $white;
  font-size: .85em;
  padding: .5em 1em;
  border-radius: 99rem;
  line-height: normal;

  @each $swatch, $color in $swatch {
    &.#{$swatch} {
      background-color: $color;
      @if (lightness($color) > 60) {
        color: $text-color;
      }
    }
  }

  &.small {
    font-size: .7em;
  }
  &.big {
    font-size: 1.1em;
  }
}
