.label {
  display: inline-block;
  background: $gray;
  color: $white;
  font-size: .85em;
  padding: .5em 1em;
  border-radius: 99rem;
  line-height: normal;

  &.black {
    background-color: $black;
  }
  &.red {
    background-color: $red;
  }
  &.blue {
    background-color: $blue;
  }
  &.yellow {
    background-color: $yellow;
    color: darken($yellow, 40);
  }
  &.green {
    background-color: $green;
  }

  &.small {
    font-size: .7em;
  }
  &.big {
    font-size: 1.1em;
  }
}