.menu {
    display: flex;
  .item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: inline-block;
    &.active {
      font-weight: bold;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: $large-radius;
    }
  }

  &.right .item{
    float: right;
  }
}