.navigation {
  min-width: 100%;

  &.sticky {
    position: fixed;
  }

  .menu {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .items {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      width: auto;


      .item {
        padding: 0.5rem 1rem;
        cursor: pointer;
        display: inline-block;
        border-radius: $large-radius;

        &:not(:last-child) {
          margin-right: .5em;
        }

        &.active {
          font-weight: bold;
          color: $text-color;
          background-color: rgba(0, 0, 0, 0.03);
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
}