.modal {
  display: none;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    will-change: transform;
    background-color: $white;
    max-width: 650px;
    max-height: 100vh;
    border-radius: $radius;
    overflow-y: auto;
    padding: inherit;

    .icon.close {
      cursor: pointer;
      color: rgba(0, 0, 0, 0.65);

      &:hover {
        color: rgba(0, 0, 0, 1);
      }
    }

    .header {
      padding: $padding;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;
      border-bottom: 1px solid $border-color;
    }
    .content {
      padding: $padding;
    }
    .footer {
      padding: 0 $padding $padding $padding;
      background: inherit;
      color: inherit;

    }
  }
  &.is-open {
    display: block;
  }

}
@keyframes mmfadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes mmfadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
  to { transform: translateY(0); }
}

@keyframes mmslideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-10%); }
}
.modal[aria-hidden="false"] .overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal[aria-hidden="false"] .container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.modal[aria-hidden="true"] .overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal[aria-hidden="true"] .container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.modal .container,
.modal .overlay {
  will-change: transform;
}