// Media Break Adjustments
$large-up: "only screen and (min-width: #{75.063em})"; // < 1201px
$large-down: "only screen and (max-width: #{75em})"; // > 1200px

$medium-up: "only screen and (min-width: #{64.063em})"; // < 1025px
$medium-down: "only screen and (max-width: #{64em})"; // > 1024px

$medium-only: "only screen and (max-width: #{64em}) and (min-width: #{48.063em})";

$small-up: "only screen and (min-width: #{48.063em})"; // < 769px
$small-down: "only screen and (max-width: #{48em})"; // > 768px

$smaller-up: "only screen and (min-width: #{40.063em})"; // < 641px
$smaller-down: "only screen and (max-width: #{40em})"; // > 640px

$tiny-up: "only screen and (max-width: #{30.063em})"; // < 481px
$tiny-down: "only screen and (max-width: #{30rem})"; // > 480px

// MEDIA QUERIES
@media #{$medium-only} {
  .medium-twelve {width:100%;}
  .medium-eleven {width:calc(100%/12 * 11);}
  .medium-ten {width:calc(100%/12 * 10);}
  .medium-nine {width:75%;}
  .medium-eight {width:calc(100%/12 * 8);}
  .medium-seven {width:calc(100%/12 * 7);}
  .medium-six, .half {width:50%;}
  .medium-five {width:calc(100%/12 * 5);}
  .medium-four, .third  {width:calc(100%/12 * 4);}
  .medium-three {width:25%;}
  .medium-two {width:calc(100%/12 * 2);}
  .medium-one {width:calc(100%/12);}
  .medium-fifths {width:20%;}
  .medium-one, .medium-two, .medium-three, .medium-four, .medium-five, .medium-six, .medium-seven, .medium-eight, .medium-nine, .medium-ten, .medium-eleven, .medium-twelve, .medium-fifths, .medium-half, .medium-third {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
  }
}

/* smaller than 768px */
@media #{$small-down} {
  // Typography
  h1.super-header.vw {font-size:7vw;}
  h1.vw {font-size:6vw;}
  h2.vw {font-size:5vw;}
  h3.vw {font-size:4.5vw;}
  h4.vw {font-size:4vw;}
  h5.vw {font-size:3.5vw;}
  .small-text-center {text-align:center;}
  .small-text-left {text-align:left;}
  .small-text-right {text-align:right;}
  .hide-small {display:none!important;}
  .hide-large {display: inherit !important;}

  .cell {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .hold > .cell, .column > .cell, .column-reverse > .cell {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    &.fit {
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
    }
  }
  .hold > .one, .hold > .two, .hold > .three, .hold > .four, .hold > .five, .hold > .six, .hold > .seven, .hold > .eight, .hold > .nine, .hold > .ten, .hold > .eleven, .hold > .twelve, .hold > .fifths, .hold > .half, .hold > .third {
    -webkit-flex:none;
    -ms-flex:none;
    flex:none;
  }
  .small-twelve {width:100%;}
  .small-eleven {width:calc(100%/12 * 11);}
  .small-ten {width:calc(100%/12 * 10);}
  .small-nine {width:75%;}
  .small-eight {width:calc(100%/12 * 8);}
  .small-seven {width:calc(100%/12 * 7);}
  .small-six, .half {width:50%;}
  .small-five {width:calc(100%/12 * 5);}
  .small-four, .third  {width:calc(100%/12 * 4);}
  .small-three {width:25%;}
  .small-two {width:calc(100%/12 * 2);}
  .small-one {width:calc(100%/12);}
  .small-fifths {width:20%;}
  .small-one, .small-two, .small-three, .small-four, .small-five, .small-six, .small-seven, .small-eight, .small-nine, .small-ten, .small-eleven, .small-twelve, .small-fifths, .small-half, .small-third {
    -webkit-flex:none;
    -ms-flex:none;
    flex:none;
  }

  // Order
  .o1-small {-ms-flex-order: 1;-webkit-order: 1;order: 1;}
  .o2-small {-ms-flex-order: 2;-webkit-order: 2;order: 2;}
  .o3-small {-ms-flex-order: 3;-webkit-order: 3;order: 3;}
  .o4-small {-ms-flex-order: 4;-webkit-order: 4;order: 4;}
  .o5-small {-ms-flex-order: 5;-webkit-order: 5;order: 5;}
  .o6-small {-ms-flex-order: 6;-webkit-order: 6;order: 6;}
  .o7-small {-ms-flex-order: 7;-webkit-order: 7;order: 7;}
  .o8-small {-ms-flex-order: 8;-webkit-order: 8;order: 8;}
  .o9-small {-ms-flex-order: 9;-webkit-order: 9;order: 9;}
  .o10-small {-ms-flex-order: 10;-webkit-order: 10;order: 10;}
  .o11-small {-ms-flex-order: 11;-webkit-order: 11;order: 11;}
  .o12-small {-ms-flex-order: 12;-webkit-order: 12;order: 12;}
  .o1-large, .o2-large, .o3-large, .o4-large, .o5-large, .o6-large, .o7-large, .o8-large, .o9-large, .o10-large, .o11-large, .o12-large {
    -ms-flex-order:0;
    -webkit-order: 0;
    order:0;
  }
}