.segment {
  background: white;
  padding: $padding;
  box-shadow: $base-shadow;
  margin-bottom: 2rem;
  color: rgba(0,0,0,.8);

  &:last-child {
    margin-bottom: 0;
  }

  &.inverted {
    color: white;
    background: $black;
  }

  &.secondary {
    background-color: desaturate(lighten($secondary-color, 50),50);
    &.inverted {
      background-color: desaturate(darken($secondary-color, 20),90);
    }
  }

  &.primary {
    background-color: lighten($primary-color,55);
    &.inverted {
      background-color: $primary-color;
    }
  }

  &.blue {
    background-color: lighten($blue,60);
    &.inverted {
      background-color: $blue;
    }
  }
  &.yellow {
    background-color: lighten($yellow,25);
    &.inverted {
      background-color: $yellow;
      color: $black;
    }
  }
  &.red {
    background-color: lighten($red,35);
    &.inverted {
      background-color: $red;
    }
  }
  &.green {
    background-color: desaturate(lighten($green,60), 50);
    &.inverted {
      background-color: $green;
    }
  }
}

.segments {
  box-shadow: $base-shadow;
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }

  .segment {
    box-shadow: none;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    &.secondary {
      border: 0;
    }

    &:last-child {
      border: 0;
    }
  }
}