.segment {
  background: white;
  padding: $padding;
  box-shadow: $base-shadow;
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, .8);

  &.header {
    background-color: scale-color($black, $lightness: 95%);
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.inverted {
    color: white;
    background: $black;
  }

  @each $swatch, $color in $swatch {
    &.#{$swatch} {
      background-color: scale-color($color, $lightness: 85%);
      @if (lightness($color) > 60) {
        color: $text-color;
      }

      &.header {
        background-color: scale-color($color, $lightness: 65%);
      }
      &.inverted {
        background-color: $color;
      }
    }
  }

  &.flat {
    box-shadow: $flat-border;
  }

  &.rounded {
    border-radius: $radius;
  }

  &.compact {
    padding: $padding / 2;
  }
}

.segments {
  box-shadow: $base-shadow;
  margin-bottom: 2rem;

  &.flat {
    box-shadow: $flat-border;
  }

  &.compact {
    .segment {
      padding: $padding / 2;
    }
  }

  &.rounded {
    border-radius: $radius;

    .segment {
      &:first-child {
        border-radius: $radius $radius 0 0;
      }
      &:last-child {
        border-radius: 0 0 $radius $radius;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  .segment {
    box-shadow: none;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    @each $swatch, $color in $swatch {
      &.#{$swatch} {
        border: 0;
      }
    }

    &:last-child {
      border: 0;
    }
  }
}