$components: (
        'input[type=text]',
        'input[type=url]',
        'input[type=email]',
        'input[type=password]',
        'input[type=text]',
        'input[type=url]',
        'input[type=email]',
        'input[type=password]',
        'input[type=number]',
        'input[type=tel]',
        'textarea'
);
$selector: ();

@each $item in $components {
  $selector: append($selector, unquote('#{$item}'), 'comma');
}

#{$selector} {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: $padding/3;
  margin-bottom: $padding;
  font-family: inherit;
  font-size: 1em;
  vertical-align: middle;
  border: $form-elements-border;
  border-radius: $radius;
  outline: none;
  background-color: white;
  transition: $normal-speed;

  &::placeholder {
    color: rgba($text-color, .4);
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:focus {
    border-color: $default-color;
    box-shadow: 0 0 0 5px rgba($default-color, .2);

    &::placeholder {
      color: rgba($text-color, .2);
    }
  }

  &:disabled {
    background-color: $gray;
    cursor: not-allowed;
  }

  &.huge {
    font-size: 1.7em;
  }
}

.field {

  label {
    margin-bottom: 0.4rem;
    display: inline-block;
  }

  #{$selector} {
    margin: 0;
  }

  &.inline.action {
    display: inline-flex;

    #{$selector} {
      max-width: 100%;
      border-radius: $radius 0 0 $radius;

      &:focus {
        + .button {
          box-shadow: 0 0 0 5px rgba($default-color, .2);
          margin-left: 10px;
        }
      }
    }
    .button {
      border-radius: 0 $radius $radius 0;
      &:hover {
        transform: none;
      }
    }

    &.fluid {
      width: 100%;
    }

    @include mobile {
      font-size: 0.7em;
    }
  }
}